<h1>This is the tutorials page... More coming soon!</h1>

<p><br />
<br />
</p>

<p><b>NOTES: </b></p>

<p><br />
<br />
</p>

<p><i>Day 1: September 23rd, 2013</i></p>

<ul>
<li>Command Line Basics</li>
<ul>
<li>“../” =&gt; up folder in command line, but in CSS “../images/logo.png” it is a relative link-path. </li>
</ul>

<li>Homebrew = <a href="http://brew.sh/">brew.sh</a></li>
<li>Agile Software Development</li>
<ul>
<li>Work closely with client</li>
<li>Work in short cycles</li>
<li>Develop Minimum Viable Product</li>
<li>Track Progress for future predictability </li>
</ul>

<li><a href="http://www.pivotaltracker.com/">PivotalTracker.com</a></li>
<ul>
<li>Stories: Icebox, Backlog, Current</li>
</ul>

<li><a href="https://moqups.com/">Moqups.com</a></li>
<li>Tic Tac Toe = GAProject1</li>
<ul>
<li><a href="http://ksankaran.com/wp/2013/04/16/tic-tac-toe-in-angularjs/">http://ksankaran.com/wp/2013/04/16/tic-tac-toe-in-angularjs/</a></li>
<li>file://localhost/Users/HoustonGolden/tictactoesample1.html</li>
</ul>

<li>Finish Ruby and JavaScript Tracks on Codecademy</li>
<li>Complete :CSS Cross Country</li>
</ul>

<p><br />
<br />
</p>

<p><b>What do we need from the instructor team? </b></p>

<ul>
<li>Visual representations of information, i.e. visual learning</li>
<li>Natural lighting, high ceilings </li>
<li>People working in pairs </li>
<li>The instructor helping us arrive to our own solutions, instead of providing immediate answers. </li>
<li>Not letting each other get bogged down!</li>
<li> </li>
</ul>

<p><b>What do we need from the students? </b></p>

<ul>
<li>Helping each other </li>
<li>Positive symbiotic environment </li>
<li>Suppressed negativity, i.e. vent your frustrations appropriately </li>
<li>Mutual respect </li>
</ul>

<p><br />
<br />
</p>

<p>more: TO-DO:</p>

<ol start="1" type="1"> <li>OPPORTUNITY: find clients that need new websites, 30% commission for real leads. <a href="http://www.cloud-media.com">www.cloud-media.com</a> Professional Web Development for $1,500. (214) 725-0815.</li>
<li><i>Business Cards</i> for <a href="http://www.cloud-media.com">www.cloud-media.com</a> Founder &amp; Developer, Houston Golden. List corporate clients and the CloudMedia Start Up Batch on <a href="http://www.fundrr.com">Fundrr.com</a> </li>
<li> </li>
</ol><p><br />
<br />
</p>

<p><i>Day 2: September 24th, 2013</i></p>

<ul>
<li>HTML/CSS </li>
<li>Class Website: <a href="http://www.gawdila.com">www.gawdila.com</a> </li>
<li>HW: Reading</li>
<ul>
<li><a href="http://agilemanifesto.org/">http://agilemanifesto.org/</a></li>
<li><a href="http://agilemanifesto.org/principles.html">http://agilemanifesto.org/principles.html</a></li>
<li><href="#zoom=100">https://www.scrum.org/Portals/0/Documents/Scrum%20Guides/2013/Scrum-Guide.pdf#zoom=100</a></li>
<li><a href="http://youtu.be/XU0llRltyFM">http://youtu.be/XU0llRltyFM</a></li>
<li>Eric Reis’s “Lean Tech Start Up:” Release MVP, continue Agile Development.</li>
<ul>
<li><a href="http://theleanstartup.com/">http://theleanstartup.com/</a></li>
</ul>

<li> </li>
</ul>

<li>Git Commands:</li>
<ul>
<li>Git Workflow:</li>
<ul>
<li>git clone</li>
<li>git status</li>
<li>git add &lt;file&gt;</li>
<li>git commit -m “ ”</li>
<li>git push origin master</li>
<li>git checkout “branch”</li>
</ul>

<li><a href="http://www.siteground.com/tutorials/git/commands.htm">http://www.siteground.com/tutorials/git/commands.htm</a></li>
</ul>

<li><b>Create a new Git repository on the command line</b></li>
<ul>
<ul>
<li>touch README.md<br />
git init<br />
git add README.md<br />
git commit -m "first commit"<br />
git remote add origin https://github.com/houstongolden/test_2.git<br />
git push -u origin master</li>
</ul>

</ul>

<li><b>Push an existing repository from the command line</b></li>
<ul>
<ul>
<li>git remote add origin https://github.com/houstongolden/test_2.git<br />
git push -u origin master</li>
</ul>

</ul>

<li>DOM: document object model. </li>
<li>HTML5/CSS3 Semantic Elements</li>
<ul>
<li>colors: <a href="https://kuler.adobe.com/explore/most-popular/?time=all">https://kuler.adobe.com/explore/most-popular/?time=all</a></li>
</ul>

</ul>

<p><br />
<br />
</p>

<ul>
<li>Steve Jobs rare footage conducting a presentation on 1980 (Insanely Great)</li>
<li><a href="https://www.youtube.com/watch?v=0lvMgMrNDlg">https://www.youtube.com/watch?v=0lvMgMrNDlg</a></li>
<li>“Scientific American in 1980 published a study of locomotion, measuring the physical speed and efficiency of all species on Earth, including dogs, cats, birds, humans, horses, goats, everything. The most efficient animal was the condor, while us humans were in the bottom third. However, the study finally showed that a man with a bicycle is actually 10 times more efficient than even the condor! Man as a toolmaker is the most powerful creature on earth, which is why we are making tools to amplify our inherent abilities as individual humans and social creatures.” - Steve Jobs </li>
<li>Revolutionary UI is the leap forward that breakthrough software needs. YouFeed.com </li>
<li>TicTacToe Snippits: </li>
</ul>

<p><br />
<br />
</p>

<p><i>Day 3: September 25th, 2013</i></p>

<p><br />
<br />
</p>

<ul>
<li>HW: Reading</li>
<ul>
<li><b>A little bit more about floats: </b><a href="http://coding.smashingmagazine.com/2007/05/01/css-float-theory-things-you-should-know/">http://coding.smashingmagazine.com/2007/05/01/css-float-theory-things-you-should-know/</a></li>
<li><b>Semantics in HTML5:</b> <a href="http://alistapart.com/article/semanticsinhtml5">http://alistapart.com/article/semanticsinhtml5</a></li>
</ul>

<li>TicTacToe Tips: <a href="http://www.dreamincode.net/forums/topic/247361-simple-tic-tac-toe-using-html5-css3-and-javascript/">http://www.dreamincode.net/forums/topic/247361-simple-tic-tac-toe-using-html5-css3-and-javascript/</a></li>
<ul>
<li>Wireframe TicTacToe App: Paper vs. Omnigraffle</li>
</ul>

<li>JavaScript: </li>
<ul>
<li>&lt;script&gt;alert(document.getElementById("content"));&lt;/script&gt;</li>
<li>JS objects have properties, functions, and events. </li>
</ul>

<li><a href="http://modernizr.com/">http://modernizr.com/</a></li>
</ul>

<p><br />
<br />
</p>

<p><i>Day 4: September 26th, 2013</i></p>

<ul>
<li>SCRUM meetings &amp; Morning Stand Ups</li>
<li>Browser compatibility, mobile responsive, JavaScript</li>
<li>Reset.css - resets all CSS in browser, or Normalize.css increases browser compatibility. </li>
<li>DOM: document object model. </li>
<li>(parser) a computer program that divides code up into functional components; "<i>compilers</i> must parse source code in order to translate it into object code"</li>
<li>JQuery: <a href="http://www.jquery.com">www.jquery.com</a></li>
<ul>
<li><b>What is jQuery?</b></li>
<li>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</li>
<li><a href="https://github.com/jquery/jquery">https://github.com/jquery/jquery</a></li>
<li>JQuery: Ajax call API code for Server Side Integration with JavaScript files from other web applications: Call a local script on the server /api/getWeather with the query parameter zipcode=97201 and replace the element #weather-temp's html with the returned text.</li>
<li> </li>
</ul>

<li>Ajax/JavaScript in Ruby on Rails:</li>
<ul>
<li><a href="http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html">http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html</a></li>
</ul>

<li>TicTacToe.io </li>
<ul>
<li>Setting up a Custom Domain with GitHub Pages:</li>
</ul>

</ul>

<p><a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">https://help.github.com/articles/setting-up-a-custom-domain-with-pages</a></p>

<ul>
<ul>
<li> </li>
</ul>

</ul>

<p><i>Day 5: September 27th, 2013</i></p>

<ul>
<li>TicTacToe.io Facebook JavaScript SDK Integration: </li>
<ul>
<li><a href="https://developers.facebook.com/docs/facebook-login/getting-started-web/">https://developers.facebook.com/docs/facebook-login/getting-started-web/</a></li>
<li><a href="https://developers.facebook.com/docs/reference/javascript/">https://developers.facebook.com/docs/reference/javascript/</a></li>
</ul>

<li><a href="http://www.irradiatedsoftware.com/sizeup/">http://www.irradiatedsoftware.com/sizeup/</a></li>
<li>Get involved in the LA start up scene! MeetUp.com</li>
<ul>
<li>Pivotal Labs, Pair Programming Event</li>
<li>LA Ruby, LA Ruby Women’s</li>
<li>Carbon 5</li>
<li>JavaScript, JQuery</li>
</ul>

</ul>

<p><br />
<br />
</p>

<p><i>Day 6: Saturday, September 28th, 2013</i></p>

<p><br />
<br />
</p>

<ul>
<li>GitHub Pages with Jekyll: Blogging for Hackers</li>
<ul>
<li><a href="https://github.com/mojombo/jekyll">https://github.com/mojombo/jekyll</a></li>
</ul>

</ul>

<ul>
<ul>
<li><a href="http://jekyllrb.com/">http://jekyllrb.com/</a></li>
</ul>

<li>jQuery vs. AngularJS, or Why Angular Rocks!?</li>
<ul>
<li><a href="http://www.slideshare.net/PayPal/jqvsangular">http://www.slideshare.net/PayPal/jqvsangular</a></li>
<li>jqLite for basic jQuery support, avoid using $</li>
<li>or, What Can I do with Angular?</li>
<ul>
<li>Routing</li>
<li>Templating</li>
</ul>

</ul>

</ul>

<ul>
<ul>
<ul>
<ul>
<li>ng-view</li>
</ul>

<li>Dependency Injection</li>
<li>Event Handlers</li>
<li>XHR &amp; REST services</li>
<ul>
<li>$http(low-level)</li>
<li>$resource(high-level)</li>
</ul>

</ul>

</ul>

<li>Cool JQuery Plugins for sexy SPAs:</li>
<ul>
<li><href="#design">http://www.thepetedesign.com/#design</a></li>
</ul>

<li><a href="http://www.inc.com">www.inc.com</a> - great business start up newsite</li>
<li>Update CLOUD-MEDIA.COM - Fix Portfolio section with same-size logos</li>
<ul>
<li>Just ordered new business cards! :)</li>
</ul>

<li>CREATE: Mobile iPhone MockUp for TicTacToe.io in Adobe Illustrator </li>
<li><a href="http://gawdila.com">gawdila.com </a></li>
<ul>
<li>.LY Registrar - <a href="http://www.ltt.ly/en/personal/hosting/whois.php">http://www.ltt.ly/en/personal/hosting/whois.php</a></li>
<li>beach.ly</li>
</ul>

<li>best wp-parallax themes</li>
<ul>
<li><a href="http://www.onwpthemes.com/best-parallax-wordpress-themes-2013/">http://www.onwpthemes.com/best-parallax-wordpress-themes-2013/</a></li>
</ul>

<li> </li>
</ul>

<p><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<p><i>Day 7: Sunday, September 29th, 2013</i></p>

<ul>
<li>Set up <a href="http://dev.cloud-media.com">dev.cloud-media.com</a> with GitHub Pages and Jekyll, the Hacker blog. </li>
<ul>
<li><a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">https://help.github.com/articles/setting-up-a-custom-domain-with-pages</a></li>
</ul>

<li>Fix logic of higher level tic tac toe games</li>
<ul>
<li>CodeCademy.com - JavaScript 28% - get to 50% by tomorrow morning. </li>
<li>CodeSchool.com - JavaScript RoadTrip Pt. 2 </li>
</ul>

<li>Second Payment for GAWDI: Monday, September 30th, 2013. </li>
<ul>
<li><a href="https://generalassemb.ly/checkout/payment/14573?secure=true">https://generalassemb.ly/checkout/payment/14573?secure=true</a></li>
</ul>

<li><a href="http://venturebeat.com/2013/09/29/how-angellist-syndicates-could-actually-hurt-some-angels-help-some-vcs/">http://venturebeat.com/2013/09/29/how-angellist-syndicates-could-actually-hurt-some-angels-help-some-vcs/</a></li>
</ul>

<p><br />
<br />
<br />
</p>

<p><b>Hello, WDI!</b></p>

<p><b>Congratulations on completing week 1 :)</b></p>

<p><br />
<br />
</p>

<p>Every Sunday evening, you'll be getting an email from Theresa and I. The purpose of these emails is to recap what we did the week before, let you know where we're headed in the upcoming week (including project objectives), and point out any awesome social or dev-related events coming soon. We'll also share the week's official office hours and some interesting links and resources.</p>

<p><br />
<br />
</p>

<p>Starting this week, we'll be using GitHub to communicate daily goals and share code snippets. I'll share you on that repo tomorrow.</p>

<p><br />
<br />
</p>

<p>See you in the morning!</p>

<p><br />
<br />
</p>

<p>Jen</p>

<p><br />
<br />
</p>

<p>----------------------------------------------</p>

<p><br />
<br />
</p>

<p><b>Last week (week 1), we:</b></p>

<p><br />
<br />
</p>

<p>- had InstallFest</p>

<p>- learned about command line</p>

<p>- started using Git</p>

<p>- brushed up on HTML &amp; CSS</p>

<p>- got started with JS</p>

<p>- began the Tic Tac Toe project</p>

<p><br />
<br />
</p>

<p><b>Week 1 project objectives were:</b></p>

<p><br />
<br />
</p>

<p>- mock up Tic Tac Toe</p>

<p>- write HTML and CSS for Tic Tac Toe game board</p>

<p>- start to integrate JS</p>

<p><br />
<br />
</p>

<p><b>Week 1 social events/dev events that happened:</b></p>

<p><br />
<br />
</p>

<p>- Sylvia's birthday</p>

<p>- Beers at GA</p>

<p>- WDI alumni panel</p>

<p>- Metaphoric hike at Solstice Canyon</p>

<p><br />
<br />
</p>

<p>----------------------------------------------</p>

<p><br />
<br />
</p>

<p><b>This week (week 2), we will:</b></p>

<p><br />
<br />
</p>

<p>- discuss this article on JS (<a href="http://programming.oreilly.com/2013/04/will-javascript-take-over-the-programming-world.html">http://programming.oreilly.com/2013/04/will-javascript-take-over-the-programming-world.html</a>)</p>

<p>- install a few more things</p>

<p>- get acquainted with AngularJS</p>

<p>- rework our Tic Tac Toe projects with Angular</p>

<p>- revisit week 1 topics as needed</p>

<p><br />
<br />
</p>

<p><b>Week 2 project objectives are:</b></p>

<p><br />
<br />
</p>

<p>- update Tic Tac Toe to incorporate Angular</p>

<p>- have a single-player/pass-n-play game that allows two players to play on the same device</p>

<p><br />
<br />
</p>

<p><b>Week 2 social events/dev events coming up:</b></p>

<p><br />
<br />
</p>

<p>- rock climbing (October 1 -- 7:30pm-9:30pm)</p>

<p>- lunchtime UX talk (October 4 -- 12:30-2pm)</p>

<p><br />
<br />
</p>

<p>----------------------------------------------</p>

<p><br />
<br />
</p>

<p><b>Office Hours This Week</b></p>

<p><br />
<br />
</p>

<p>Theresa -- Monday 5:30-7:30pm</p>

<p>Jen -- Tuesday 5:30-7:00pm</p>

<p>Tim -- Wednesday 5:30-7:30pm</p>

<p>Lorin -- Thursday 5:30-7:30pm</p>

<p>Ira -- Tuesday, Wednesday, Thursday 2pm - 7pm</p>

<p><br />
<br />
</p>

<p>----------------------------------------------</p>

<p><br />
<br />
</p>

<p><b>Resources -- References, Blog Posts, Articles</b></p>

<p><br />
<br />
</p>

<p><i>Don't feel obligated to read all of these -- they're just here in case you'd like to take a look!</i></p>

<p><br />
<br />
</p>

<p>Command line + Sublime + Git</p>

<p>- <a href="https://gist.github.com/lucasfais/1207002">Sublime Text 2 Shortcuts</a></p>

<p>- <a href="https://s3.amazonaws.com/uploads.hipchat.com/39979/464282/aqmot4uoh66jkdu/sublime_text_cheatsheet.pdf">Sublime Text Cheatsheet</a></p>

<p>- <a href="http://jetpackweb.com/blog/2009/09/23/pbcopy-in-ubuntu-command-line-clipboard/">pbcopy/pbpaste in Ubuntu</a></p>

<p>- <a href="http://www.tjhsst.edu/~dhyatt/superap/unixcmd.html">Basic UNIX Commands</a></p>

<p>- <a href="http://www.cheat-sheets.org/saved-copy/git-cheat-sheet.pdf">Git Cheat Sheet</a></p>

<p>- <a href="https://rawgithub.com/">rawgithub</a></p>

<p>HTML + CSS</p>

<p>- <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></p>

<p>- <a href="http://www.paulirish.com/">Paul Irish's blog (Webkit and more)</a></p>

<p>- <a href="http://themergency.com/css-clearfix-demystified/">Clearfix demystified</a></p>

<p>- <a href="http://www.positioniseverything.net/">Position Is Everything (browser bugs)</a></p>

<p>- <a href="http://www.quirksmode.org/bugreports/">Bug Report</a></p>

<p>- <a href="http://meyerweb.com/eric/tools/css/reset/reset.css">Reset.css</a></p>

<p>- <a href="http://www.barelyfitz.com/screencast/html-training/css/positioning/">CSS Positioning in 10 steps</a></p>

<p>JavaScript</p>

<p>- <a href="http://overapi.com/javascript/">JS Cheat Sheets</a></p>

<p>- <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla's JS Resource Page</a></p>

<p>- <a href="http://www.codecademy.com/courses/getting-started-v2/0/1?curriculum_id=506324b3a7dffd00020bf661">JS on CodeAcademy</a></p>

<p>- <a href="http://www.2ality.com/2013/06/basic-javascript.html">Basic JS for the impatient programmer</a></p>

<p>- <a href="http://css-tricks.com/controlling-css-animations-transitions-javascript/?utm_source=javascriptweekly&amp;utm_medium=email">Controlling CSS Animations and Transitions with JS</a></p>

<p>Color Pickers + Fonts + Lorem Ipsum</p>

<p>- <a href="http://hslpicker.com/">HSL Color Picker</a></p>

<p>- <a href="http://www.colourlovers.com/palettes">Colour Lovers</a></p>

<p>- <a href="http://cssfontstack.com/">CSS Font Stack</a></p>

<p>- <a href="http://www.typography.com/">Cloud Typography</a></p>

<p>- <a href="http://www.google.com/fonts/">Google Fonts</a></p>

<p>- <a href="http://meettheipsums.com/">Meet The Ipsums</a></p>

<p>Browser + Device Testing</p>

<p>- <a href="http://www.browserstack.com/">Browserstack (multiple browsers/devices)</a></p>

<p>- <a href="https://developer.apple.com/library/ios/documentation/IDEs/Conceptual/iOS_Simulator_Guide/GettingStartedwithiOSStimulator/GettingStartedwithiOSStimulator.html">Getting Started with iOS Simulator</a></p>

<p>- <a href="https://developers.google.com/chrome-developer-tools/docs/remote-debugging">Remote debugging on Android</a></p>

<p>Agile + Scrum</p>

<p>- <a href="http://agilemanifesto.org/principles.html">Agile Manifesto</a></p>

<p>- <href="#zoom=100">Scrum Guide</a></p>

<p>Best Practices + Motivation</p>

<p>- <a href="http://veltman.tumblr.com/post/50335073356/teaching-yourself-to-code-for-the-web">Teaching Yourself To Code For The Web</a></p>

<p>AngularJS</p>

<p>- <a href="https://kippt.com/silentworks/angularjs">silentworks' curated list of Angular resources</a></p>

<p>- <a href="http://egghead.io/">egghead.io (Angular tutorials)</a></p>

<p><br />
<br />
<br />
</p>

<p><i>Day 8: Monday, September 30th, 2013</i></p>

<ul>
<li>- discuss this article on JS (<a href="http://programming.oreilly.com/2013/04/will-javascript-take-over-the-programming-world.html">http://programming.oreilly.com/2013/04/will-javascript-take-over-the-programming-world.html</a>)</li>
<li><i>JS: </i></li>
<ul>
<li><i>Everything is an object, except for primitives, such as string, number, boolean, null, and undefined. </i></li>
<li><i>Objects have properties and functions, such as “.length” and “getElementById()”</i></li>
</ul>

<li>Git push from Master branch (local) to gh-pages branch (live)</li>
<ul>
<li><i>git checkout gh-pages</i></li>
<li><i>git merge master</i></li>
<li><i>git push origin gh-pages</i></li>
</ul>

</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 9: Tuesday, October 1st, 2013</i></p>

<ul>
<li><i>Angular.js - Angularjs.org</i></li>
<ul>
<li><i>AngularJS in 60ish minutes</i></li>
<ul>
<li><i><a href="http://www.youtube.com/watch?v=i9MHigUZKEM">http://www.youtube.com/watch?v=i9MHigUZKEM</a></i></li>
<li><i><a href="http://www.youtube.com/watch?v=uFTFsKmkQnQ">http://www.youtube.com/watch?v=uFTFsKmkQnQ</a></i></li>
</ul>

<li><i>toDoList in Angular</i></li>
<ul>
<li><i><a href="http://jsfiddle.net/api/post/library/pure/">http://jsfiddle.net/api/post/library/pure/</a></i></li>
</ul>

<li><i><a href="http://docs.angularjs.org/tutorial">http://docs.angularjs.org/tutorial</a></i></li>
<li></li>
<li><i>AngularJs Template for Web Apps</i></li>
<ul>
<li><i><a href="https://github.com/angular/angular-seed">https://github.com/angular/angular-seed</a></i></li>
<li></li>
</ul>

</ul>

<li><i>Free HTML5 starter templates for Bootstrap</i></li>
<ul>
<li><i><a href="http://startbootstrap.com/">http://startbootstrap.com/</a></i></li>
</ul>

<li><i>AngularJs code: </i></li>
<ul>
<li><i>ng = module </i></li>
<li><i>directives</i></li>
<ul>
<li><i>ngApp, ngController, ngModel, ngClick, ngRepeat, ngSubmit, name, required, ngRequired, ngMinlength, ngMaxlength, ngPattern, ngChange, input, ngBind, ngChecked, ngClass, ngForm, ngHref, ngHide, ngInclude, ngInit, ngKeydown, ngList, ngMousedown, ngNonBindable, ngOpen, ngRepeat, ngSelected, ngShow, ngSrc, ngStyle, ngSwitch, ngTransclude, </i></li>
</ul>

<li><i>Filters</i></li>
<ul>
<li><i>currency, date, filter, json, limitTo, lowercase, number, orderBy</i></li>
</ul>

<li><i>Services</i></li>
<ul>
<li><i>$anchorScroll, $animate, $cacheFactory, $compile, $controller, $document, $exceptionalHandler, $filter, $http, $interpolate, $locale, $location, $log, $parse, $q, $rootElement, $rootScope, $templateCache, $timeout, $window</i></li>
</ul>

<li><i>Types</i></li>
<ul>
<li><i>Module, Attributes, Scope, FormController, NgModelController</i></li>
</ul>

<li><i>global API’s</i></li>
<ul>
<li><i>angular.bind, angular.bootstrap, angular.copy, angular.element, angular.equals, angular.extend, angular.forEach, angular.fromJson, angular.identity, angular.injector, angular.isArray, angular.isDate, angular.isDefined, angular.isElement, angular.isFunction, angular.isNumber, angular.isObject, angular.isString, </i></li>
</ul>

<li><i><a href="http://docs.angularjs.org/guide/concepts">http://docs.angularjs.org/guide/concepts</a></i></li>
<li><i>AngularJS MTV Meetup: </i></li>
<ul>
<li><i><a href="http://www.youtube.com/watch?v=XOmwZopzcTA">http://www.youtube.com/watch?v=XOmwZopzcTA</a></i></li>
</ul>

<li></li>
</ul>

<li><i>FACEBOOK JAVASCRIPT SDK:</i></li>
<ul>
<li><i><a href="https://developers.facebook.com/docs/facebook-login/login-flow-for-web/">https://developers.facebook.com/docs/facebook-login/login-flow-for-web/</a></i></li>
<li><i><href="#loading">https://developers.facebook.com/docs/javascript/gettingstarted/#loading</a></i></li>
<li><i><a href="https://developers.facebook.com/docs/facebook-login/getting-started-web/">https://developers.facebook.com/docs/facebook-login/getting-started-web/</a></i></li>
<li></li>
<li><i>How to create a Facebook Open Graph Pt 1</i></li>
<ul>
<li><i><a href="http://www.youtube.com/watch?v=8x6T7-WFSBg">http://www.youtube.com/watch?v=8x6T7-WFSBg</a></i></li>
<li><i><a href="http://www.youtube.com/watch?v=Sx_2ygfciKU">http://www.youtube.com/watch?v=Sx_2ygfciKU</a></i></li>
</ul>

<li></li>
</ul>

<li><i>LoginRadius API</i></li>
<ul>
<li><i><a href="http://loginradius.github.io/HTML5-SDK/">http://loginradius.github.io/HTML5-SDK/</a></i></li>
<li><i><a href="https://github.com/LoginRadius/HTML5-SDK/blob/master/README.md">https://github.com/LoginRadius/HTML5-SDK/blob/master/README.md</a></i></li>
<li><i><a href="https://www.loginradius.com/loginradius_for_developers/loginRadius-sdks">https://www.loginradius.com/loginradius_for_developers/loginRadius-sdks</a></i></li>
</ul>

<li><i>GA - WDI - LA - GitHub Repo</i></li>
<ul>
<li><i><a href="https://github.com/ga-students/WDI_LA_2/">https://github.com/ga-students/WDI_LA_2/</a></i></li>
</ul>

</ul>

<p><br />
<br />
</p>

<p><i>Day 10: Wednesday, October 2st, 2013</i></p>

<ul>
<li>&lt;script src="<a href="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js">https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js</a>"&gt;&lt;/script&gt;</li>
<ul>
<li>ng-app, ng-init, ng-repeat, ng-click, ng-bind, ng-model </li>
</ul>

<li>Start Web Dev BLOG - and propose idea (in time) to teach the WordPress Developers one night course. </li>
<li>“Full-Stack WordPress - Intro to Internet Entrepreneurship.” </li>
<ul>
<li>WP-Framework</li>
<li>The Beauty and the Limitations.</li>
<li>Best Use Cases</li>
<li>WordPress as best beginner platform for aspiring developers and front-end designers. </li>
<li>Ease-of-Use, GUI developer tools. </li>
<li>PLUGINS FOR EVERYTHING.</li>
<li>HTML5, CSS3, PHP</li>
<li>embed HTML5 rich posts/pages and WP as CMS</li>
<li>CSS3 to customize your layouts with ease</li>
<li>Photoshop and Illustrator, my go-to graphic design tools</li>
<li>PITFALLS:</li>
<ul>
<li>WordPress comes pre-packaged with a lot of useful, but bulky code that really gets in the way of developing customized software, and it is notably most hindering on the back-end because it relies so heavily on PHP as it’s programming language. (Anyone want to help develop WordChip.com - the Ruby on Rails GUI developer framework for bloggers and more alike?) </li>
</ul>

<li>MOST AMAZING WORDPRESS THEME EVER!!!!</li>
<ul>
<li><a href="http://themeforest.net/item/pheno-one-page-parallax-wordpress-theme/5455518?WT.ac=search_item&amp;WT.seg_1=search_item&amp;WT.z_author=SomniaThemes">http://themeforest.net/item/pheno-one-page-parallax-wordpress-theme/5455518?WT.ac=search_item&amp;WT.seg_1=search_item&amp;WT.z_author=SomniaThemes</a></li>
<li><a href="http://www.youtube.com/watch?v=e6IXP6diohs">http://www.youtube.com/watch?v=e6IXP6diohs</a> PHENO TUTORIAL</li>
<li>Pheno Documentation</li>
</ul>

</ul>

</ul>

<ul>
<ul>
<ul>
<ul>
<li>file://localhost/Users/HoustonGolden/Desktop/themeforest-5455518-pheno-one-page-parallax-wordpress-theme/Pheno_all/Documentation/index.html </li>
</ul>

</ul>

<li>Watch for new TLD’s coming out… </li>
<ul>
<li><a href="http://www.godaddy.com/tlds/gtld.aspx?ci=82010&amp;isc=IC2346">http://www.godaddy.com/tlds/gtld.aspx?ci=82010&amp;isc=IC2346</a></li>
</ul>

</ul>

</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 11: Thursday, October 3rd, 2013</i></p>

<ul>
<li><i>copy newTic into TicTacToeProject and push to GitHub</i></li>
<li><i>Facebook JavaScript SDK </i></li>
<li><i>Implement Angular game logic </i></li>
<li><i>New GA-Dev blog</i></li>
<li><i>Pheno theme </i></li>
<li><i>AngularJS Tic Tac Toe Sample Project</i></li>
<ul>
<li><i><a href="https://code.google.com/p/tic-tac-toe-angular-js/source/browse/trunk/eclipse%20project/SinglePlayerX0/WebContent/js/tic-tac-toe.js">https://code.google.com/p/tic-tac-toe-angular-js/source/browse/trunk/eclipse%20project/SinglePlayerX0/WebContent/js/tic-tac-toe.js</a></i></li>
</ul>

<li><i>How to deploy Angular.js/Grunt/Yeoman to GH-Pages</i></li>
<ul>
<li><i><a href="http://stackoverflow.com/questions/17643381/how-to-upload-my-angularjs-static-site-to-github-pages">http://stackoverflow.com/questions/17643381/how-to-upload-my-angularjs-static-site-to-github-pages</a></i></li>
<li><i><a href="http://assemble.io/docs/Home.html">http://assemble.io/docs/Home.html</a></i></li>
<li><i><a href="https://github.com/assemble/assemble">https://github.com/assemble/assemble</a></i></li>
<li><i>gruntjs.com </i></li>
</ul>

</ul>

<p><br />
<br />
</p>

<p><i>Day 12: Friday, October 4th, 2013</i></p>

<ul>
<li><i>newTic Project Objectives:</i></li>
<ul>
<li><i>Fix win conditions with new photos</i></li>
<li><i>Experiment with &lt;div&gt; vs &lt;table&gt;</i></li>
<li><i>host with gh-pages, solve grunt/node issue.</i></li>
<li><i>Set User.Name functionality </i></li>
</ul>

<li><i>Objects: call by reference. Primitives: call by value. </i></li>
<li><i><a href="http://www.jenniferdewalt.com">www.JenniferDewalt.com</a> - 180 sites in 180 days. </i></li>
<li><i>Dimensions of Usability: Effective, Efficient, Engaging, <b>Error Tolerant 404 :)</b>, Easy to Learn</i></li>
<ul>
<li><i>Custom 404 pages like “Woa bro, turn around and head back down the enlightened path”</i></li>
</ul>

<li><i>Measuring Usability</i></li>
<ul>
<li><i>Utility, Usable, Desirable, Emotional</i></li>
</ul>

<li><i>UX Testing</i></li>
<ul>
<li><i><a href="https://www.youeye.com/">https://www.youeye.com/</a> </i></li>
<li><i><a href="http://www.optomizely.com">www.optomizely.com</a></i></li>
</ul>

<li><i>R-Spec - Programming Statistics</i></li>
<ul>
<li><i>Analyzing twitter hashtags in correlation with Stock Tickers</i></li>
</ul>

<li><i>FACEBOOK JS SDK:</i></li>
<ul>
<li><i><a href="http://hayageek.com/facebook-javascript-sdk/">http://hayageek.com/facebook-javascript-sdk/#</a></i></li>
</ul>

</ul>

<p><br />
<br />
<br />
<br />
</p>

<ul>
<li><i>GROW HACK:</i></li>
<ul>
<li><i><a href="http://www.growhack.com/">http://www.growhack.com/</a></i></li>
<li><i><a href="http://tessel.io/">http://tessel.io/</a></i></li>
</ul>

<li><b><i>OOTUNE.COM </i></b><i>BETA DEVELOPMENT!!!!</i></li>
<ul>
<li><i>libv8 error - ruby gem ERROR on “bundle install”</i></li>
<ul>
<li><i>not fix: “rvm get stable” </i></li>
</ul>

<li><i>“bundle install” - “rails s”</i></li>
<li><i>Force extconf.rb file to require rubygems on install:</i></li>
<li><i>RUBYOPT=-rrubygems gem install libv8 -v '3.3.10.4'</i></li>
<li><i>Found here: <a href="https://coderwall.com/p/y1djxq">https://coderwall.com/p/y1djxq</a></i></li>
<li><i>SUCCESS!!!! <a href="http://stackoverflow.com/questions/9036105/bundle-install-error-in-installing-libv8-3-3-10-4-on-rails-running-on-lion">http://stackoverflow.com/questions/9036105/bundle-install-error-in-installing-libv8-3-3-10-4-on-rails-running-on-lion</a></i></li>
</ul>

</ul>

<p><br />
<br />
<br />
<br />
</p>

<p><i>Day 13: Saturday, October 5th, 2013</i></p>

<ul>
<li><i>Web Dev Blog: Name Ideas</i></li>
<li><i>gitHub - find Ruby Blog template</i></li>
<li><i>Ruby: Building Native Extensions. This might take a while….</i></li>
<ul>
<li><i><a href="http://patshaughnessy.net/2011/10/31/dont-be-terrified-of-building-native-extensions">http://patshaughnessy.net/2011/10/31/dont-be-terrified-of-building-native-extensions</a></i></li>
</ul>

</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 14: Sunday, October 6th, 2013</i></p>

<ul>
<li><i>Google Web Designer is here: </i></li>
<ul>
<li><i><href="#topic=3249465">https://support.google.com/webdesigner/#topic=3249465</a></i></li>
<li><i>Learn how to use this awesome new HTML5 CSS3 GUI EDITOR. </i></li>
</ul>

<li><i>Test WP-Comments on BuzzArtist.com</i></li>
<ul>
<li><i>passed 1,000 monthly views and 123 Likes! </i></li>
</ul>

<li><i>Finish BuzzGov Redesign</i></li>
<li><i>ustart.co - WAIAKEA SPINGS Website Redesign</i></li>
<ul>
<li><i>contact Sean Trotter on Monday, or Tuesday. </i></li>
</ul>

<li><i>EMAIL ICI: updates + monthly fee</i></li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Hello, WDI!</i></p>

<p><br />
<br />
</p>

<p><i>We're so proud of the progress you've made in the first two weeks, and we can't wait to launch into Week 3.</i></p>

<p><br />
<br />
</p>

<p><i>Keep moving forward with Tic Tac Toe, keep challenging yourselves, and don't ever be afraid to ask for help! And remember to commit early and often :)</i></p>

<p><br />
<br />
</p>

<p><i>-- The WDI Team -- </i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Last week (week 2), we:</i></b></p>

<p><br />
<br />
</p>

<p><i>- Reviewed concepts covered in Week 1</i></p>

<p><i>- Introduced JavaScript objects </i></p>

<p><i>- Installed Yeoman and Node</i></p>

<p><i>- Worked with AngularJS both in and outside of Yeoman app, using binding, directives, filters, controllers, ng-repeat, ng-class, ng-click</i></p>

<p><i>- Observed differences between passing by reference and value</i></p>

<p><i>- Introduced how to dynamically build an array</i></p>

<p><i>- Modified Tic Tac Toe game to replace javascript with Angular</i></p>

<p><br />
<br />
</p>

<p><b><i>Week 2 project objectives were:</i></b></p>

<p><br />
<br />
</p>

<p><i>- Update the Tic Tac Toe app to incorporate Angular</i></p>

<p><i>- Have a single-player/pass-n-play game that allows two players to play on the same device</i></p>

<p><br />
<br />
</p>

<p><b><i>Week 2 social events/dev events that happened:</i></b></p>

<p><br />
<br />
</p>

<p><i>- We went rock climbing (October 1 -- 7:30pm-9:30pm)</i></p>

<p><i>- We had a lunchtime UX talk (October 4 -- 12:30-2pm)</i></p>

<p><br />
<br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>This week (week 3), we will:</i></b></p>

<p><br />
<br />
</p>

<p><i>- Introduce HTTP</i></p>

<p><i>- Get further acquainted with Angular</i></p>

<p><i>- Start using Firebase</i></p>

<p><i>- Hook up the Tic Tac Toe app to a back-end</i></p>

<p><br />
<br />
</p>

<p><b><i>The week 3 project objective is:</i></b></p>

<p><br />
<br />
</p>

<p><i>- Update the Angular Tic Tac Toe app so that two players can play on two separate machines</i></p>

<p><br />
<br />
<br />
</p>

<p><b><i>Week 3 social events/dev events coming up:</i></b></p>

<p><br />
<br />
</p>

<p><i>- Wed, Oct 9, 5:00-6:00pm UX Talk Part II</i></p>

<p><i>- Thurs, Oct 10, 7:00-10:00pm LA Ruby Monthly Meetup</i></p>

<p><i>(They currently do not have a location yet -- we will keep you updated on the LA Ruby group's status!)</i></p>

<p><i>- Fri, Oct 11, 12:45-1:15pm Lunch TIme Yoga</i></p>

<p><br />
<br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Office Hours This Week</i></b></p>

<p><br />
<br />
</p>

<p><i>Theresa -- Monday 5:30-7:30pm</i></p>

<p><i>Tim -- Wednesday 5:30-7:30pm</i></p>

<p><i>Lorin -- Thursday 5:30-7:30pm</i></p>

<p><i>Ira -- Tuesday, Wednesday, Thursday 2pm - 7pm</i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Other Administrative Notes</i></b></p>

<p><br />
<br />
</p>

<p><i>We've taken the "WDI Library" out of the class GitHub repo in order to reduce clutter and avoid any copyright issues that might result from the sharing of those titles on GitHub. We'll let you know where to find those ebooks ASAP.</i></p>

<p><br />
<br />
</p>

<p><i>Additional exercises (optional, for your own practice!) will be showing up this week in the repo in a folder called "practice" -- if you'd like to see our solutions for any of the challenges, the rule is that you have to push your own response. Some will be stubs (we'll ask you to fill in code that accomplishes a certain task), some will be broken code that we'd like you to fix, some will be plain TODOs with a complete task for you to tackle. They'll be divided by topic, so you can pick and choose the exercises you'd like to do. If you don't see the thing you'd like extra work on, let us know!</i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Resources -- References, Blog Posts, Articles</i></b></p>

<p><br />
<br />
</p>

<p><i>Don't feel obligated to read all of these -- they're just here in case you'd like to take a look!</i></p>

<p><br />
<br />
</p>

<p><i>Tutorials</i></p>

<p><i>-</i><a href="http://teamtreehouse.com/"><i>Tree House</i></a></p>

<p><i>Newsletters</i></p>

<p><i>-</i><a href="http://www.hackernewsletter.com/"><i>Hacker Newsletter</i></a></p>

<p><i>-</i><a href="http://javascriptweekly.com/"><i>Javascript Weekly</i></a></p>

<p><i>-</i><a href="http://rubyweekly.com/"><i>Ruby Weekly</i></a></p>

<p><i>-</i><a href="http://html5weekly.com/"><i>html5 weekly</i></a></p>

<p><i>Meetup Groups</i></p>

<p><i>-</i><a href="http://www.meetup.com/laruby/"><i>LA Ruby</i></a></p>

<p><i>-</i><a href="http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/"><i>Los Angeles Womens Ruby on Rails Group </i></a></p>

<p><i>-</i><a href="http://www.meetup.com/Hack-Night-at-Carbon-Five-LA/"><i>Hack Night at Carbon Five LA</i></a></p>

<p><i>-</i><a href="http://www.meetup.com/pivotal-la-weekly/"><i>Pivotal LA Weekly</i></a></p>

<p><i>-</i><a href="http://www.meetup.com/socal-angular/"><i>So Cal Angular</i></a></p>

<p><i>Google's Web Designer</i></p>

<p><i>-</i><a href="http://techcrunch.com/2013/09/30/google-launches-web-designer-a-visual-tool-for-building-interactive-html5-sites-and-ads/"><i>Techcrunch Article: Google's Web Designer</i></a></p>

<p><i>-</i><a href="http://www.google.com/webdesigner/"><i>Web Designer (Google)</i></a></p>

<p><i>UX Tools</i></p>

<p><i>-</i><a href="http://uxdesign.cc/ux-tools"><i>UXDdesign.cc</i></a></p>

<p><i>JavaScript</i></p>

<p><i>-</i><a href="http://bonsaiden.github.io/JavaScript-Garden/"><i>Javascript Garden</i></a></p>

<p><i>-</i><a href="http://toys.usvsth3m.com/javascript-under-pressure/"><i>Javascript Under Pressure Learning Game</i></a></p>

<p><i>-</i><a href="http://javascriptissexy.com/how-to-learn-javascript-properly/"><i>How to Learn Javascript Properly</i></a></p>

<p><i>-</i><a href="http://jshint.com/?newdesign"><i>Detects Javascript Errors</i></a></p>

<p><i>AngularJS</i></p>

<p><i>-</i><a href="http://www.thinkster.io/pick/GtaQ0oMGIl/a-better-way-to-learn-angularjs"><i>A Better Way to Learn AngularJS</i></a></p>

<p><i>-</i><a href="https://sublime.wbond.net/packages/AngularJS"><i>Sublime Package Control For Angular</i></a></p>

<p><i>-</i><a href="http://www.sitepoint.com/kickstart-your-angularjs-development-with-yeoman-grunt-and-bower/"><i>Kickstart Your AngularJS Dev w Yeoman Grunt and Bower</i></a></p>

<p><i>-</i><a href="http://www.youtube.com/watch?v=zBt2g9ekiug&amp;feature=youtu.be"><i>Getting started with Yeoman and generator-webapp</i></a></p>

<p><i>-</i><a href="http://net.tutsplus.com/tutorials/javascript-ajax/building-apps-with-the-yeoman-workflow/"><i>Building Apps with Yeoman Workflow</i></a></p>

<p><i>-</i><a href="http://www.revillwebdesign.com/angularjs-tutorial/"><i>Revill Web Design.com- AngularJS Tutorial</i></a></p>

<p><i>-</i><a href="https://github.com/mgechev/angularjs-style-guide"><i>AngularJS Style Guide </i></a></p>

<p><i>-</i><a href="http://www.cheatography.com/proloser/cheat-sheets/angularjs"><i>AngularJS Cheatsheet</i></a></p>

<p><i>-</i><a href="http://docs.angularjs.org/tutorial"><i>AngularJS Doc Tutorial</i></a></p>

<p><i>-</i><a href="http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/?utm_source=javascriptweekly&amp;utm_medium=email"><i>Learning AngularJS in One Day</i></a></p>

<p><i>-</i><a href="http://www.angularails.com/articles/creating_simple_directive_in_angular?utm_source=javascriptweekly&amp;utm_medium=email"><i>Directives Made Easy</i></a></p>

<p><i>-</i><href="#slide=id.p"><i>The Future of AngularJS (slidedeck)</i></a></p>

<p><i>CoffeeScript</i></p>

<p><i>-</i><a href="http://coffeescript.carbonfive.com/"><i>Carbon5 Intro to Coffeescript</i></a></p>

<p><i>GIt &amp; GitHub </i></p>

<p><i>-</i><href="#awesm=~ojxontdGcPXGUr"><i>Understanding Github a Journey For Beginners Part 1</i></a></p>

<p><i>-</i><a href="http://gitimmersion.com/"><i>Git Immersion</i></a></p>

<p><i>Resizing/Moving Windows Tool</i></p>

<p><i>-</i><a href="http://spectacleapp.com/"><i>http://spectacleapp.com/</i></a></p>

<p><i>Wireframing</i></p>

<p><a href="http://exitcreative.net/blog/2008/09/how-to-wireframe/"><i>Wireframing Basics and Best Practices</i></a></p>

<p><br />
<br />
</p>

<p><i>Day 15: Monday, October 7th, 2013</i></p>

<ul>
<li><i>newTic project </i></li>
<ul>
<li><i>JS FB SDK - sociogram</i></li>
</ul>

<li><i>DevBlog Name Ideas</i></li>
<li><i>ooTune.com push heroku master</i></li>
<li><i><a href="https://www.torproject.org/">https://www.torproject.org/</a></i></li>
<ul>
<li><i><href="#Hidden_services">http://en.wikipedia.org/wiki/Tor_hidden_service#Hidden_services</a></i></li>
</ul>

<li><i>TOM ODELL - El Rey Theater - $20</i></li>
<ul>
<li><i><a href="http://www.ticketmaster.com/event/2C004AC3C7A747D7?camefrom=AEGLIVE_SODELLAX100913FBA001&amp;brand=goldenvoice">http://www.ticketmaster.com/event/2C004AC3C7A747D7?camefrom=AEGLIVE_SODELLAX100913FBA001&amp;brand=goldenvoice</a></i></li>
</ul>

<li>Getting started with Yeoman and generator web-app</li>
<ul>
<li><i><a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=zBt2g9ekiug">https://www.youtube.com/watch?feature=player_embedded&amp;v=zBt2g9ekiug</a></i></li>
<li><i>$ cd projects/myApp</i></li>
<li><i>$ npm install yo -g</i></li>
<li><i>$ npm install generator-webapp -g</i></li>
<li></li>
</ul>

<li><i>The Future of AngularJS:</i></li>
<ul>
<li><i><href="#slide=id.p">https://docs.google.com/presentation/d/1Gv-dvU-yy6WY7SiNJ9QRo9XayPS6N2jtgWezdRpoI04/edit#slide=id.p</a></i></li>
</ul>

<li><i><a href="http://www.httpstatus.es">www.httpstatus.es</a> - what do different server statuses mean?</i></li>
<li><i>Oh…. <b>CRUD</b>: Create- PUT, Read- GET, Update-POST, Delete-DELETE</i></li>
<li><i>curl <a href="http://www.google.com">http://www.google.com</a> -X POST -d “hello”</i></li>
<ul>
<li><i>post to the server</i></li>
</ul>

<li><i>GitHub API : Issues</i></li>
<ul>
<li><i><a href="http://developer.github.com/v3/issues/">http://developer.github.com/v3/issues/</a></i></li>
</ul>

<li><i>Higgs Boson discovery wins Nobel Prize in Physics</i></li>
<ul>
<li><i><a href="http://www.worldsciencefestival.com/videos/higgs_boson_explained?utm_source=Facebook&amp;utm_medium=video&amp;utm_campaign=higgs_boson_explained">http://www.worldsciencefestival.com/videos/higgs_boson_explained?utm_source=Facebook&amp;utm_medium=video&amp;utm_campaign=higgs_boson_explained</a></i></li>
</ul>

</ul>

<p><br />
<br />
</p>

<p><i>Day 16: Tuesday, October 8th, 2013</i></p>

<ul>
<li><i>SICK. </i></li>
<li><i>$http, $resource for GETS, POSTS, etc. </i></li>
<li><i>404 ERROR. Make nice 404 pages :) …</i></li>
</ul>

<p><br />
<br />
</p>

<p><i>Day 17: Wednesday, October 9th, 2013</i></p>

<ul>
<li>Web Design Inspiration:</li>
<ul>
<li><a href="http://mashable.com/2013/10/09/web-design-inspiration-2/?utm_cid=mash-com-fb-main-link">http://mashable.com/2013/10/09/web-design-inspiration-2/?utm_cid=mash-com-fb-main-link</a></li>
</ul>

<li>Directives continued, Firebase &amp; Angular Fire, Yeoman</li>
<li>Firebase API Reference:</li>
<ul>
<li><a href="https://www.firebase.com/docs/javascript/firebase/index.html">https://www.firebase.com/docs/javascript/firebase/index.html</a></li>
</ul>

<li>Firebase.com</li>
<li><a href="http://www.angularfire.com">www.AngularFire.com</a></li>
<ul>
<li>Quick Start Guide:</li>
<ul>
<li><a href="http://angularfire.com/quickstart.html">http://angularfire.com/quickstart.html</a></li>
</ul>

</ul>

<li>$scope.rooms = [] </li>
<ul>
<li>p1 -&gt; new room</li>
<li>p2 -&gt; last room</li>
<li>p3 -&gt; new room</li>
<li>etc…</li>
</ul>

<li>Book: Universal Principles of Design</li>
<li><a href="mailto:edwinhermawan@gmail.com">edwinhermawan@gmail.com</a></li>
<li><a href="http://www.jquerymobile.com">www.jquerymobile.com</a></li>
<li><a href="http://www.divshot.com">www.divshot.com</a></li>
<li><a href="https://wrapbootstrap.com/">https://wrapbootstrap.com/</a></li>
<li>Make Facebook Page for TUNETREST.COM </li>
<ul>
<li>grow hack, UI/UX, Get Likes, POST MUSIC</li>
</ul>

<li>BuzzArtist.com </li>
<ul>
<li>reformat logo to fit in sticky navbar</li>
<li>make gui icon for social network profiles and “hearted” tracks</li>
<li>add facebook Like box to sidebar</li>
<li>make custom player with blogged about tracks</li>
</ul>

<li>AngularUI - awesome.</li>
<ul>
<li><a href="http://angular-ui.github.io/">http://angular-ui.github.io/</a></li>
<ul>
<li>download entire suite, or create custom builds for specific modules.</li>
</ul>

<li>AngularJS BOOTSTRAP: AMAZING!!!</li>
<ul>
<li><a href="http://angular-ui.github.io/bootstrap/">http://angular-ui.github.io/bootstrap/</a></li>
</ul>

<li>netdna.com &amp; bootstrapcdn.com</li>
</ul>

<li>Setting Up GitHub Pages Manually: newTic:</li>
<ul>
<li>git branch</li>
<li>git branch gh-pages</li>
<li>git push origin gh-pages</li>
<li>git branch</li>
<li>git checkout gh-pages</li>
<li>git branch</li>
<li>git checkout master</li>
<ul>
<li>git checkout gh-pages</li>
</ul>

</ul>

</ul>

<ul>
<ul>
<ul>
<ul>
<li>Make a change</li>
</ul>

<li>git status</li>
<li>git add .</li>
<li>git commit -m “first ghpage commit”</li>
<li>git push origin gh-pages</li>
</ul>

<li>Hopefully that works… </li>
</ul>

<li>Possibly need to clone the whole repo…</li>
<ul>
<li><a href="https://help.github.com/articles/creating-project-pages-manually">https://help.github.com/articles/creating-project-pages-manually</a></li>
</ul>

<li>AngularUI Grid for TicTacToe Scoreboard:</li>
<ul>
<li><a href="http://angular-ui.github.io/ng-grid/">http://angular-ui.github.io/ng-grid/</a></li>
</ul>

<li>Twitter Bootstrap Parallax Template:</li>
<ul>
<li><a href="http://www.sitediscount.ru/scrollstrap/index.html">http://www.sitediscount.ru/scrollstrap/index.html</a></li>
</ul>

<li> </li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 18: Thursday, October 10th, 2013</i></p>

<ul>
<li><i>Firebase and AngularFire</i></li>
<li><i><href="#!/process">http://sputnikcreative.com/#!/process</a></i></li>
<ul>
<li><i>cool start up in Austin</i></li>
</ul>

<li><i><a href="http://fanologysocial.com/">http://fanologysocial.com/</a></i></li>
<ul>
<li><i>cool start up in LA</i></li>
</ul>

<li><i><a href="http://www.colorzilla.com/gradient-editor/">www.colorzilla.com/gradient-editor/</a></i></li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 18: Thursday, October 10th, 2013 (after hours)</i></p>

<ul>
<li><i>Getting Started with Heroku Rails 4 Web App Deployment</i></li>
<ul>
<li><i><a href="https://devcenter.heroku.com/articles/getting-started-with-rails4">https://devcenter.heroku.com/articles/getting-started-with-rails4</a></i></li>
</ul>

<li><i>awesome rails app examples</i></li>
<ul>
<li><i><a href="http://railsapps.github.io/">http://railsapps.github.io/</a></i></li>
</ul>

<li><i>Rails Mongoid OmniAuth</i></li>
<ul>
<li><i><a href="https://github.com/RailsApps/rails3-mongoid-omniauth">https://github.com/RailsApps/rails3-mongoid-omniauth</a></i></li>
<li><i><a href="http://railsapps.github.io/tutorial-rails-mongoid-omniauth.html">http://railsapps.github.io/tutorial-rails-mongoid-omniauth.html</a></i></li>
</ul>

<li><i>Rails Composer: Best way to create a rails starter app!</i></li>
<ul>
<li><i><a href="http://railsapps.github.io/rails-composer/">http://railsapps.github.io/rails-composer/</a></i></li>
<li><i>AMAZING:</i></li>
<ul>
<li><i><a href="https://github.com/RailsApps/rails-composer/">https://github.com/RailsApps/rails-composer/</a></i></li>
<li><i>easiest ruby app install!!!</i></li>
<li><i><href="#readme">https://github.com/github/hub#readme</a></i></li>
<li><i>Created PINZEY.COM soo easy!!!! ahh!</i></li>
<li><i><a href="https://github.com/RailsApps/rails_apps_composer">https://github.com/RailsApps/rails_apps_composer</a></i></li>
</ul>

</ul>

</ul>

<ul>
<ul>
<ul>
<ul>
<li><i>use the gem to create custom templates</i></li>
</ul>

</ul>

</ul>

<li><i>ooTune Beta - Rails App</i></li>
<ul>
<li><i><href="#/">http://mytopio.herokuapp.com/#/</a></i></li>
</ul>

<li><i><a href="https://tutorials.railsapps.org/">https://tutorials.railsapps.org/</a></i></li>
<li><b><i>Updating Bundler for Heroku</i></b></li>
<li><a href="http://railsapps.github.io/rails-heroku-tutorial.html">http://railsapps.github.io/rails-heroku-tutorial.html</a></li>
<li><i>These instructions assume you are using rvm, the <a href="https://rvm.io/">Ruby Version Manager</a>. Bundler and rubygems-bundler are installed in rvm’s “global” gemset.</i></li>
<li><i>First, update to the <a href="http://rubygems.org/gems/rubygems-bundler">newest version of Rubygems-Bundler</a>:</i></li>
<ul>
<li><i>$ rvm gemset use global<br />
$ gem update rubygems-bundler<br />
$ gem list</i></li>
</ul>

<li><i>Make sure to install Heroku Toolbelt: Push Ruby on Rails App to Heroku:</i></li>
<ul>
<li><i>$ heroku login<br />
$ cd myapp<br />
$ heroku create<br />
$ git push heroku master<br />
$ ERROR: gem install sqlite3 -v '1.3.8'<br />
$ group :development, :test do<br />
gem 'sqlite3'<br />
end<br />
<br />
group :production do<br />
gem 'pg'<br />
end</i></li>
<li><i>git add . / commit / push</i></li>
<li><i>git push heroku master</i></li>
<ul>
<li><i>it works but lacks Twitter Bootstrap</i></li>
</ul>

</ul>

<li><i>CREATE NEW RUBY PROJECT:</i></li>
<ul>
<li><i>mkdir projects</i></li>
<li><i>rails new projects</i></li>
<li><i>rails server</i></li>
</ul>

<li><i><a href="http://guides.railsgirls.com/app/">http://guides.railsgirls.com/app/</a></i></li>
<li><i>BuzzArtist.com Social Icons Nav Bar - Chat / Up Arrow:</i></li>
<ul>
<li><i><a href="http://www.iconarchive.com/show/circle-icons-by-martz90/chat-icon.html">http://www.iconarchive.com/show/circle-icons-by-martz90/chat-icon.html</a></i></li>
<li><i><a href="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/32/Arrows-Up-circular-icon.png">http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/32/Arrows-Up-circular-icon.png</a><br />
<br />
</i></li>
</ul>

</ul>

<p><i>Day 19: Friday, October 11th, 2013</i></p>

<ul>
<li><i>Integrate newTic game into Tim’s game-logic project</i></li>
<li><i>deploy TicTacToe.io to Heroku</i></li>
<ul>
<li><i>add to game-logic</i></li>
<ul>
<li><i>waiting: true,</i></li>
<li><i>turnCount: 0.</i></li>
</ul>

</ul>

<li><i>absolute inside relative parent</i></li>
<li><i>update heroku app in yo angular/nodejs</i></li>
<ul>
<li><i>$ grunt build</i></li>
<li><i>$ git add . </i></li>
<li><i>$ git commit -m “some changes”</i></li>
<li><i>$ git push</i></li>
<li><i>$ git subtree push --prefix dist heroku master</i></li>
</ul>

<li><i>New C Chackra Tunings</i></li>
<ul>
<li><i><a href="http://www.google.com/imgres?imgurl=http://milltonedrums.files.wordpress.com/2013/08/chakra-to-hz-chart.jpg&amp;imgrefurl=http://milltonedrums.wordpress.com/2013/08/29/new-c7-chakra-tuned-a-432-hz-is-finally-here/&amp;h=500&amp;w=500&amp;sz=61&amp;tbnid=krpiHiVJZXOxnM:&amp;tbnh=90&amp;tbnw=90&amp;zoom=1&amp;usg=__pxtKlf8wDJ6jWgtnadbkhg9ku2Q=&amp;docid=1LADSihepOZaQM&amp;sa=X&amp;ei=u_dYUu7VJIK3iwLT24HYCQ&amp;ved=0CDoQ9QEwAw">http://www.google.com/imgres?imgurl=http://milltonedrums.files.wordpress.com/2013/08/chakra-to-hz-chart.jpg&amp;imgrefurl=http://milltonedrums.wordpress.com/2013/08/29/new-c7-chakra-tuned-a-432-hz-is-finally-here/&amp;h=500&amp;w=500&amp;sz=61&amp;tbnid=krpiHiVJZXOxnM:&amp;tbnh=90&amp;tbnw=90&amp;zoom=1&amp;usg=__pxtKlf8wDJ6jWgtnadbkhg9ku2Q=&amp;docid=1LADSihepOZaQM&amp;sa=X&amp;ei=u_dYUu7VJIK3iwLT24HYCQ&amp;ved=0CDoQ9QEwAw</a></i></li>
</ul>

<li><i>geokone.net</i></li>
<li><i>Good Facebook JavaScript SDK for Rails and Angular Tutorial:</i></li>
<ul>
<li><i><a href="http://blog.berylliumwork.com/2013/04/facebook-login-with-javascript-sdk.html">http://blog.berylliumwork.com/2013/04/facebook-login-with-javascript-sdk.html</a></i></li>
</ul>

<li><i><a href="http://aws.amazon.com/cli/?sc_ichannel=EM&amp;sc_icountry=EN&amp;sc_icampaign=13Sept_Newsletter&amp;ref_=pe_395770_33488950_18">http://aws.amazon.com/cli/?sc_ichannel=EM&amp;sc_icountry=EN&amp;sc_icampaign=13Sept_Newsletter&amp;ref_=pe_395770_33488950_18</a></i></li>
<li><i><a href="http://mir.aculo.us/2013/10/10/how-to-create-a-web-app-that-looks-like-a-ios-7-native-app-part-2-behavior/">http://mir.aculo.us/2013/10/10/how-to-create-a-web-app-that-looks-like-a-ios-7-native-app-part-2-behavior/</a></i></li>
</ul>

<p><i>Day 20: Saturday, October 12th, 2013</i></p>

<ul>
<li><i>READING AND RELAXATION DAY… LIFE’S A BEACH!</i></li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 21: Sunday, October 13th, 2013</i></p>

<ul>
<li><i>Acquire, Build, Manage, Divest</i></li>
<ul>
<li><i><a href="http://www.aaronpitman.com/contact.html">http://www.aaronpitman.com/contact.html</a></i></li>
<li><i><a href="http://www.radomaincapital.com/">http://www.radomaincapital.com/</a></i></li>
</ul>

<li><i>Maybe set up Facebook login SDK, or Firebase Oauth API</i></li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Hello, WDI!</i></p>

<p><br />
<br />
</p>

<p><i>You've finished your third week and are preparing for your first self-directed projects. We're so proud of your progress so far, and we're excited to hear the ideas you have cooking!</i></p>

<p><br />
<br />
</p>

<p><i>Code reviews begin this week; get ready to talk one-on-one about what you've been making.</i></p>

<p><br />
<br />
</p>

<p><i>As we jump into week 4, we will transition your Yeoman experience and guide you right into Rails. As always, remember to commit early and often :)</i></p>

<p><br />
<br />
</p>

<p><i>-- The WDI Team -- </i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Last week (week 3), we:</i></b></p>

<p><i>- Introduced HTTP</i></p>

<p><i>- Practiced with Github API</i></p>

<p><i>- Got further acquainted with AngularJS with $http, ngResource, get(), query(), $save(), $watch, and custom directives</i></p>

<p><i>- Incorporated Firebase/AngularFire with Yeoman app</i></p>

<p><br />
<br />
</p>

<p><b><i>Week 3 project objectives were:</i></b></p>

<p><i>- Update the Tic Tac Toe app to incorporate a backend to support players playing on two different computers</i></p>

<p><i>- Have a game that allows a player to join a queue and then start a game when another person is in the queue</i></p>

<p><br />
<br />
</p>

<p><b><i>Week 3 social events/dev events that happened:</i></b></p>

<p><i>- Welcomed JP Berti as he led the UX Talk Part II presentation on Wed, Oct 9</i></p>

<p><i>- Met with other LA Rubyist at the LA Ruby Monthly Meetup on Thurs, Oct 10</i></p>

<p><i>- Capped our week off with Lunch TIme Yoga on Fri, Oct 11</i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>This week (week 4), we will:</i></b></p>

<p><i>- Begin code reviews for your Project 1</i></p>

<p><i>- Participate in project pitches for your Project 2</i></p>

<p><i>- Start our journey with Ruby</i></p>

<p><i>- Familiarizing you with MVC and the role it plays within Rails</i></p>

<p><i>- Play with the different Rails components</i></p>

<p><i>- Write Embedded Ruby (ERB) code</i></p>

<p><i>- Practice more agile development</i></p>

<p><br />
<br />
</p>

<p><b><i>Week 4 social events/dev events coming up:</i></b></p>

<p><i>- Tues, Oct 15, 7:00-9:00pm Karaoke at the Gaslite</i></p>

<p><i>- Thurs, Oct 17, 12:30-2:00pm Ruby on Rails Community Panel (lunch provided)</i></p>

<p><i>- Thurs, Oct 17, 6pm Westside Ruby Study Group Meetup</i></p>

<p><i>- Fri, Oct 18, 12:45-1:15pm Lunch Time Yoga</i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Office Hours This Week</i></b></p>

<p><i>Theresa -- Monday 5:30-7:30pm</i></p>

<p><i>Jen -- Tuesday 5:30-7:30pm</i></p>

<p><i>Tim -- Wednesday 5:30-7:30pm</i></p>

<p><i>Lorin -- Thursday 5:30-7:30pm</i></p>

<p><i>Ira -- Tuesday, Wednesday 2pm - 7pm; Thursday 2:00pm-5:30pm; Friday 10:00am-5:30pm</i></p>

<p><br />
<br />
</p>

<p><i>----------------------------------------------</i></p>

<p><br />
<br />
</p>

<p><b><i>Resources -- References, Blog Posts, Articles</i></b></p>

<p><i>Don't feel obligated to read all of these -- they're just here in case you'd like to take a look! Special thanks to students who contributed this week!</i></p>

<p><br />
<br />
</p>

<p><i>Ruby on Rails</i></p>

<p><a href="http://mislav.uniqpath.com/poignant-guide/"><i>Poignant Guide</i></a></p>

<p><a href="http://ruby.railstutorial.org/"><i>Ruby on Rails Hartl Tutorial</i></a></p>

<p><a href="http://api.rubyonrails.org/"><i>Ruby on Rails API Documentation</i></a></p>

<p><a href="http://www.sitepoint.com/learn-ruby-on-rails/"><i>Resources for Learning RoR</i></a></p>

<p><a href="http://rubyrogues.com/"><i>Ruby Rogues Podcasts</i></a></p>

<p><i>REST/HTTP</i></p>

<p><a href="http://httpstatus.es/"><i>HTTP Statuses</i></a></p>

<p><a href="http://www.ibm.com/developerworks/webservices/library/ws-restful/"><i>RESTful Web Services</i></a></p>

<p><i>Curl </i></p>

<p><a href="http://www.thegeekstuff.com/2012/04/curl-examples/"><i>Curl Examples</i></a></p>

<p><i>APIs</i></p>

<p><a href="http://ec2-54-211-79-18.compute-1.amazonaws.com:8080/"><i>Make anything an API</i></a></p>

<p><a href="http://www.govtrack.us/developers/api"><i>GovTrack API</i></a></p>

<p><a href="http://blog.programmableweb.com/2013/10/07/api-design-is-stuck-in-2008/"><i>API Design Commentary</i></a></p>

<p><i>Javascript</i></p>

<p><a href="http://flippinawesome.org/2013/10/07/javascript-fundamentals/"><i>Javascript Fundamentals</i></a></p>

<p><a href="http://www.fastcolabs.com/3014617/real-time-web-basics-what-you-need-to-know"><i>Real Time Basics</i></a></p>

<p><i>AngularJS</i></p>

<p><a href="http://www.sitepoint.com/10-reasons-use-angularjs/?utm_source=buffer&amp;utm_campaign=Buffer&amp;utm_content=buffer749ff&amp;utm_medium=twitter"><i>10 Reasons to Use AngularJS</i></a></p>

<p><a href="http://ruoyusun.com/2013/05/25/things-i-wish-i-were-told-about-angular-js.html"><i>Things I wish I were told about AngularJS</i></a></p>

<p><a href="http://blog.revolunet.com/blog/2013/06/01/starting-with-angularjs/"><i>AngularJS in 5 Steps</i></a></p>

<p><a href="http://net.tutsplus.com/tutorials/javascript-ajax/building-a-web-app-from-scratch-in-angularjs/"><i>Example of Using an API in AngularJS App</i></a></p>

<p><a href="http://docs.angularjs.org/guide/index"><i>AngularJS Docs</i></a></p>

<p><a href="http://egghead.io/lessons/angularjs-animating-the-angular-way"><i>Egghead.io: custom directives</i></a></p>

<p><i>Yeoman </i></p>

<p><a href="https://s3.amazonaws.com/uploads.hipchat.com/39979/464282/6t9ezjzp4qidyps/Your%20Obedient%20Assistant_%20Yeoman.pdf"><i>Yeoman Intro</i></a></p>

<p><i>Firebase/AngularFire</i></p>

<p><a href="https://www.firebase.com/docs/"><i>Firebase Docs</i></a></p>

<p><a href="http://www.youtube.com/watch?v=C7ZI7z7qnHU&amp;feature=youtu.be"><i>Realtime Apps with Firebase and AngularFire</i></a></p>

<p><a href="http://franciscortez.com/lab/firebase-rock-paper-scissors/"><i>Firebase: Rock Paper Scissors</i></a></p>

<p><a href="https://gist.github.com/anantn/4323981"><i>Assigning Players in a Multiplayer Game</i></a></p>

<p><i>HTML/CSS/Javascript Practice</i></p>

<p><a href="http://timevko.com/practice"><i>Random Generator of HTML/CSS/JS Exercises</i></a></p>

<p><i>Web Design</i></p>

<p><a href="http://mashable.com/2013/10/09/web-design-inspiration-2/"><i>Web Design Inspiration</i></a></p>

<p><i>Tools</i></p>

<p><a href="http://www.clipmenu.com/"><i>Manage Items On Clipboard</i></a></p>

<p><a href="https://sites.google.com/site/tesseractsoftware/multibrowser"><i>Selector for Multiple Browsers</i></a></p>

<p><a href="https://friendco.de/"><i>Running Code From Cloud</i></a></p>

<p><br />
<br />
<br />
<br />
<br />
</p>

<p><i>Day 22: Monday, October 14th, 2013</i></p>

<ul>
<li><i>The Field of Dreams Mantra of Agile Development</i></li>
<ul>
<li><i>“IF you build it, they will come.”</i></li>
</ul>

<li><i>WEEK 4 BEGINS - RUBY ON RAILS!</i></li>
<li><i>Ghost Blogging Platform</i></li>
<ul>
<li><i><a href="http://ghost.org/features/">http://ghost.org/features/</a></i></li>
</ul>

<li><i>RUBY REVIEW:</i></li>
<ul>
<li><i>students.to_s = “to string” </i></li>
</ul>

</ul>

<p><br />
<br />
<br />
<br />
<br />
</p>

<p><i>Day 23: Tuesday, October 15th, 2013</i></p>

<ul>
<li><i>Google Cloud Platform for Mobile:</i></li>
<ul>
<li><i><a href="http://googlecloudplatform.blogspot.com/2013/10/speed-up-ios-development-with-google-cloud-platform.html">http://googlecloudplatform.blogspot.com/2013/10/speed-up-ios-development-with-google-cloud-platform.html</a></i></li>
</ul>

<li><b><i>Ruby on Rails Study Guide: Blocks, Procs, and Lambdas</i></b></li>
<ul>
<li><i><a href="http://dev.tutsplus.com/tutorials/ruby-on-rails-study-guide-blocks-procs-and-lambdas--net-29811">http://dev.tutsplus.com/tutorials/ruby-on-rails-study-guide-blocks-procs-and-lambdas--net-29811</a></i></li>
</ul>

</ul>

<p><i>In this study guide, we've covered the key differences between Blocks, Procs, and Lambdas:</i></p>

<p>· <i>Blocks are single use.</i></p>

<p>· <i>Procs exist as objects.</i></p>

<p>· <i>Lambdas have strict argument checking.</i></p>

<p><i>For a more in-depth review, I recommend the following resources:</i></p>

<p>· <i><a href="http://net.tutsplus.com/tag/ruby-study-guide/">Rails Study Guides here on Nettuts+</a></i></p>

<p>· <i><a href="http://www.ruby-doc.org/core-1.9.3/Proc.html">Ruby Proc Documentation</a></i></p>

<p>· <i><a href="http://pragprog.com/book/ruby3/programming-ruby-1-9">Programming Ruby 1.9</a></i></p>

<p>· <i><a href="http://pragprog.com/book/ppmetr/metaprogramming-ruby">Metaprogramming Ruby: Program Like the Ruby Pros</a></i></p>

<ul>
<ul>
<li></li>
</ul>

<li><i>PattiCrews.com - Event Planner, Fundraiser, Political Activist, Fine Art Collector</i></li>
<li><a href="http://www.fundrr.com">www.Fundrr.com</a> PITCH:</li>
<ul>
<li>Angel.co API</li>
<ul>
<li><a href="https://angel.co/api">https://angel.co/api</a></li>
</ul>

<li>LinkedIn API</li>
<ul>
<li><a href="https://developer.linkedin.com/apis">https://developer.linkedin.com/apis</a></li>
</ul>

<li>CrunchBase API</li>
<ul>
<li><a href="http://developer.crunchbase.com/">http://developer.crunchbase.com/</a></li>
</ul>

<li>Social Crowdfunding for the Start-Up Community!</li>
<ul>
<li>Features: </li>
</ul>

</ul>

</ul>

<ul>
<ul>
<ul>
<ul>
<li>Private Messages between Angles and Founders</li>
<li>Vote Up feature for Start-Ups</li>
<li>CrunchBase powered Newsfeed on Homepage</li>
</ul>

</ul>

</ul>

<li>Getting started with Rails</li>
<ul>
<li>Install Rails gem</li>
<li>rails new</li>
<li>rails server</li>
<li>what a rails app looks like</li>
<li>how routing works</li>
<li>rails generate</li>
<li>building a basic CRUD app</li>
<ul>
<li>C - create</li>
<li>R - read</li>
<li>U - update</li>
<li>D - destory</li>
</ul>

</ul>

<li>Ruby Methods:</li>
<ul>
<li><a href="http://www.tutorialspoint.com/ruby/ruby_methods.htm">http://www.tutorialspoint.com/ruby/ruby_methods.htm</a></li>
</ul>

<li>The Best Way to Learn Ruby</li>
<ul>
<li><a href="http://dev.tutsplus.com/tutorials/the-best-way-to-learn-ruby-on-rails--net-21820">http://dev.tutsplus.com/tutorials/the-best-way-to-learn-ruby-on-rails--net-21820</a></li>
<li><a href="http://www.tryruby.org">www.TryRuby.org</a></li>
</ul>

</ul>

<p><br />
<br />
<br />
</p>

<ul>
<li>Rails App Test: wdi/todolist</li>
<ul>
<li>rails new todolist</li>
<li>rails server</li>
<li>rails generate controller tasks</li>
<li>rails generate controller tasks index</li>
<li>routes.rb =&gt; root ‘tasks#index’</li>
<li> </li>
</ul>

<li>cool photo editor: LightRoom Alternative</li>
<ul>
<li><a href="http://www.noupe.com/photoshop/lightzone-totally-free-photo-lab-lets-you-forget-adobe-lightroom-79383.html">http://www.noupe.com/photoshop/lightzone-totally-free-photo-lab-lets-you-forget-adobe-lightroom-79383.html</a></li>
</ul>

<li><a href="http://guides.rubyonrails.org/">http://guides.rubyonrails.org/</a></li>
<li>Use Ordr.in API to create a food ordering</li>
<ul>
<li><a href="http://www.codecademy.com/tracks/ordrin">http://www.codecademy.com/tracks/ordrin</a></li>
</ul>

<li> </li>
</ul>

<p><br />
<br />
<br />
</p>

<p><i>Day 24: Wednesday, October 16th, 2013</i></p>

<ul>
<li>CSS for Clean Fast Web Apps</li>
<ul>
<li><a href="http://www.topcoat.io">www.TopCoat.io</a></li>
</ul>

<li>Beautiful custom Maps</li>
<ul>
<li><a href="http://www.mapbox.com">www.MapBox.com</a></li>
</ul>

<li>The Do’s and Don’ts of Pitching to VC’s</li>
<ul>
<li><a href="https://s3.amazonaws.com/uploads.hipchat.com/39979/486606/lzXxEWJiyg7yMZg/Karlin+Ventures%2C+Do%27s+and+Don%27ts+of+Pitching+to+VCs+Presentation+v2+%281%29.pdf">https://s3.amazonaws.com/uploads.hipchat.com/39979/486606/lzXxEWJiyg7yMZg/Karlin+Ventures%2C+Do%27s+and+Don%27ts+of+Pitching+to+VCs+Presentation+v2+%281%29.pdf</a></li>
</ul>

<li>Awesome WP-Front End Plugin</li>
<ul>
<li><a href="http://wordpress.org/plugins/wp-user-frontend/installation/">http://wordpress.org/plugins/wp-user-frontend/installation/</a></li>
</ul>

<li>Ruby Arrays</li>
<ul>
<li>ary = [1, 2, 3, 4]</li>
<li>Array.new</li>
<li>ary.push(5)</li>
<li>ary.pop</li>
<ul>
<li>pulls last value</li>
</ul>

<li>ary.length</li>
<li>ary[2]</li>
<li>ary3 = ary.shuffle</li>
<ul>
<li>store array in array to store method</li>
</ul>

<li>ary.shuffle!</li>
<ul>
<li>! stores method into array</li>
</ul>

<li>ary.sample</li>
<ul>
<li>extracts random number from array</li>
</ul>

<li>Piping:</li>
</ul>

</ul>

<p>n = [1, 2, 3, 4]</p>

<p>n.each do |x|</p>

<p>puts x</p>

<p>end</p>

<ul>
<ul>
<li><i>ary.flatten </i></li>
<ul>
<li><i>compress multidimensional array to single-dimensional</i></li>
</ul>

<li><i>ary.sort</i></li>
<ul>
<li><i>sorts array alphabetically</i></li>
</ul>

</ul>

<li><i>Arrays, Hashes, Symbols, Classes</i></li>
<ul>
<li><i>Hashes don’t contain methods</i></li>
<li><i>Classes contain methods, i.e. the definition of methods.</i></li>
<li><i>Arrays contain object-data structures</i></li>
<li><i>Symbols are strings and are like global keys</i></li>
</ul>

<li><i>Code Snippet Embed Tool</i></li>
<ul>
<li><i><a href="http://markup.su/highlighter/">http://markup.su/highlighter/</a></i></li>
</ul>

</ul>

<p><br />
<br />
<br />
</p>

<p>nick = Student.new(‘Nick’, ‘<a href="mailto:nick@ga.co">nick@ga.co</a>’)</p>

<p>y.name</p>

<p>y.name = ‘George’</p>

<p><br />
<br />
</p>

<p>nick.getName</p>

<p>class Student</p>

<p>attr_accessor :name</p>

<p>@name = name</p>

<p>def initialize</p>

<p>end</p>

<p>def getName</p>

<p>@name = x</p>

<p>@email = y</p>

<p>end</p>

<p><br />
<br />
</p>

<ul>
<li>instance variables are like properties</li>
<li>RESTful = Representational State Transfer</li>
<li>Git-Flavored MarkDown:</li>
<ul>
<li>A quick note about any files ending in a .md -- that's a markdown file, which we use for readmes on Git, but if you're viewing it anywhere besides GitHub, it won't necessarily look right. There's a lot of formatting specialized for Git (look up Git-Flavored MarkDown if you're interested in more!) and that's why it'll look funky in terminal, sublime, etc</li>
<li>It's worth it to learn Git-Flavored MarkDown if you plan on having your code in a public Git repo -- having a nicely styled readme is an easy way to make your stuff look professional/nice</li>
<li><a href="https://help.github.com/articles/github-flavored-markdown">https://help.github.com/articles/github-flavored-markdown</a></li>
</ul>

<li>Write Outline of WordPress Lesson Plan</li>
<li>Start Dev Blog</li>
<ul>
<li><a href="http://www.geekyfeed.com">www.GeekyFeed.com</a></li>
<li>www.</li>
</ul>

<li>This is an alpha project from GA for connecting GA alum <a href="https://blacktop.generalassemb.ly/">https://blacktop.generalassemb.ly/</a></li>
<li>FUNNY GIFS:</li>
<ul>
<li><a href="http://www.tumblr.com/tagged/funny-gifs">http://www.tumblr.com/tagged/funny-gifs</a></li>
<li> </li>
</ul>

</ul>

<p><br />
<br />
</p>

<p><i>Day 25: Thursday, October 17th, 2013</i></p>

<ul>
<li>Rails tutorials:</li>
<ul>
<li><a href="http://dev.tutsplus.com/tutorials/building-ribbit-in-rails--net-29116">http://dev.tutsplus.com/tutorials/building-ribbit-in-rails--net-29116</a></li>
<li><a href="http://net.tutsplus.com/tutorials/ruby/the-intro-to-rails-screencast-i-wish-i-had/">http://net.tutsplus.com/tutorials/ruby/the-intro-to-rails-screencast-i-wish-i-had/</a></li>
</ul>

<li>StandUps: Fundrr.com - Get started</li>
<ul>
<li>Wireframe</li>
<li>Git Init New Repo</li>
<li>Create Readme.md file</li>
<ul>
<li>It's worth it to learn Git-Flavored MarkDown if you plan on having your code in a public Git repo -- having a nicely styled readme is an easy way to make your stuff look professional/nice</li>
<li><a href="https://help.github.com/articles/github-flavored-markdown">https://help.github.com/articles/github-flavored-markdown</a></li>
</ul>

</ul>

<li>Review Rental Homework:</li>
<ul>
<li>main.rb</li>
</ul>

<li>Huge collection of free programming books: </li>
<ul>
<li><a href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md">https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md</a></li>
</ul>

<li>Getting started with MongoDB:</li>
<ul>
<li>gem "mongoid", "~&gt; 3.0.0"</li>
<li>gem "genghisapp"</li>
<li>bundle install</li>
<li>genghisapp</li>
<li>genghisapp --kill</li>
</ul>

<li>MongoDB and Mongoid</li>
<ul>
<li><a href="http://mongoid.org/en/mongoid/index.html">http://mongoid.org/en/mongoid/index.html</a></li>
<li>create objects</li>
<li>call the .save method on objects to save into the database</li>
<li><a href="http://genghisapp.com/">http://genghisapp.com/</a></li>
</ul>

<li>Rails is “Omakase” - Japanese for “I’ll leave it to you.”</li>
<ul>
<li><a href="http://en.wikipedia.org/wiki/David_Heinemeier_Hansson">http://en.wikipedia.org/wiki/David_Heinemeier_Hansson</a></li>
</ul>

<li>Reed Hoffman: everyone should learn to code</li>
<ul>
<li><a href="http://techcrunch.com/2013/10/16/linkedins-reid-hoffman-on-two-realistic-outcomes-of-teaching-everyone-to-code/">http://techcrunch.com/2013/10/16/linkedins-reid-hoffman-on-two-realistic-outcomes-of-teaching-everyone-to-code/</a></li>
</ul>

<li>Spring Java Framework is Ubiquitous in the Enterprise level</li>
<li>RAILS COMPOSER:</li>
<ul>
<li><href="#comment-1078971132">http://railsapps.github.io/rails-composer/#comment-1078971132</a></li>
</ul>

<li>Follow the CarbonFive blog:</li>
<ul>
<li><a href="http://blog.carbonfive.com/">http://blog.carbonfive.com/</a></li>
</ul>

<li>Heroku Toolbelt:</li>
<ul>
<li>heroku run rails c</li>
</ul>

<li><a href="http://www.rubymine.com">www.RubyMine.com</a></li>
<ul>
<li>access database via code editor </li>
</ul>

<li>WordPress Hackers Guide to the Galaxy:</li>
<ul>
<li><a href="https://tutsplus.com/course/wordpress-hackers-guide-to-the-galaxy/">https://tutsplus.com/course/wordpress-hackers-guide-to-the-galaxy/</a></li>
</ul>

<li>Plan Websites with Jumpchart</li>
<ul>
<li><a href="https://www.jumpchart.com/?ref=carbonads0613">https://www.jumpchart.com/?ref=carbonads0613</a></li>
</ul>

<li> </li>
</ul>

<p><br />
<br />
<br />
</p>

<p>GeekyFeed Development:</p>

<ul>
<li><a href="http://www.geekyfeed.com">www.GeekyFeed.com</a></li>
<ul>
<li>Developer Blog Built in Ruby on Rails</li>
</ul>

<li>Rails Composer - “Rails and Bootstrap” - ERROR</li>
<ul>
<li>git commit issue </li>
<li>Contribute: “ &lt;li&gt;&lt;% “ to navigation.html.erb</li>
<ul>
<li>“ %li= link_ “ =&gt; “ &lt;li&gt;&lt;% “ </li>
</ul>

<li>Documentation:</li>
<ul>
<li>add “ # comment out sqlite3 before deploying to heroku” </li>
<li>“ $rake assets:precompile “</li>
</ul>

<li><b>contribute to open source code</b></li>
<li><b>impress future employers</b></li>
</ul>

<li>git add .</li>
<li>git commit -m “made those above changes”</li>
<li>git push</li>
<li>remove Gemfile.lock file and do bundle install , then git add, git commit and git push .</li>
<li><a href="https://devcenter.heroku.com/articles/getting-started-with-rails4">https://devcenter.heroku.com/articles/getting-started-with-rails4</a></li>
<li>Rails Bootstrap:</li>
<ul>
<li><a href="https://github.com/seyhunak/twitter-bootstrap-rails">https://github.com/seyhunak/twitter-bootstrap-rails</a></li>
<li>Add the Rails Bootstrap Gems to .Gemfile</li>
</ul>

</ul>

<p>gem "therubyracer"<br />
gem "less-rails" <i>#Sprockets (what Rails 3.1 uses for its asset pipeline) supports LESS</i><br />
gem "twitter-bootstrap-rails"</p>

<ul>
<ul>
<li>bundle install</li>
<li>rails generate bootstrap:install less</li>
<li>DO NOT NEED: gem “therubyracer” </li>
<ul>
<li>comment out</li>
<li>causes libv8 error</li>
</ul>

<li>DO NOT NEED: gem “less-rails” </li>
<ul>
<li>comment out</li>
<li>bundle install</li>
</ul>

<li><href="#tab-top">http://stackoverflow.com/questions/10905820/gem-install-therubyracer-fails-on-mac-os-x-lion?answertab=active#tab-top</a></li>
</ul>

<li>RAILSCAST VIDEO: TWITTER BOOTSTRAP FOR RAILS:</li>
<ul>
<li><a href="http://railscasts.com/episodes/328-twitter-bootstrap-basics">http://railscasts.com/episodes/328-twitter-bootstrap-basics</a></li>
<li><a href="http://stackoverflow.com/questions/9118923/twitter-bootstrap-rails-gem-workflow">http://stackoverflow.com/questions/9118923/twitter-bootstrap-rails-gem-workflow</a></li>
</ul>

<li>Command Line Tracker App *Idea*</li>
<li>Problems with LESS and LIBV8</li>
<ul>
<li>need this for dynamic content? </li>
</ul>

<li><a href="http://rvm.io/">http://rvm.io/</a></li>
<ul>
<li>major Ruby version issues…. 2.0.0 vs. 2.0.0-p247</li>
</ul>

</ul>

<p><br />
<br />
<br />
</p>

<ul>
<li><i>Day 26: Friday, October 18th, 2013</i></li>
</ul>

<ul>
<li><i>Active Record Associations:</i></li>
<ul>
<li><i><a href="http://guides.rubyonrails.org/v2.3.11/association_basics.html">http://guides.rubyonrails.org/v2.3.11/association_basics.html</a></i></li>
<li><i>class Customer &lt; ActiveRecord::Base<br />
has_many :orders, :dependent =&gt; :destroy<br />
end<br />
<br />
class Order &lt; ActiveRecord::Base<br />
belongs_to :customer<br />
end</i></li>
</ul>

</ul>

<p><b><i>The Types of Associations</i></b></p>

<p><i>In Rails, an association is a connection between two Active Record models. Associations are implemented using macro-style calls, so that you can declaratively add features to your models. For example, by declaring that one model belongs_to another, you instruct Rails to maintain Primary Key–Foreign Key information between instances of the two models, and you also get a number of utility methods added to your model. Rails supports six types of association:</i></p>

<p>· <i>belongs_to</i></p>

<p>· <i>has_one</i></p>

<p>· <i>has_many</i></p>

<p>· <i>has_many :through</i></p>

<p>· <i>has_one :through</i></p>

<p>· <i>has_and_belongs_to_many</i></p>

<p><br />
<br />
</p>

<ul>
<li><i>REST</i></li>
<ul>
<li><i>representational state transfer</i></li>
<li></li>
</ul>

</ul>

<p><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<p><i>Fundrr.com - Project 1: Associations</i></p>

<p><i>class Founder &lt; ActiveRecord::Base<br />
has_many :startups<br />
has_many :campaigns, :through =&gt; :startups<br />
end</i></p>

<p><i>class Angel &lt; ActiveRecord::Base<br />
has_many :investments<br />
has_many :startups, :through =&gt; :investments<br />
end</i></p>

<p><i>class Developer &lt; ActiveRecord::Base<br />
has_many :experiences<br />
has_many :skills, :through =&gt; :experiences<br />
end<br />
<br />
class Startups &lt; ActiveRecord::Base<br />
has_and_belongs_to_many :founders<br />
has_many :angels <br />
has_many :developers<br />
has_many :jobs<br />
has_one :funds<br />
end<br />
<br />
class Funds &lt; ActiveRecord::Base<br />
belongs_to :startups<br />
end</i></p>

<p><i>class Jobs &lt; ActiveRecord::Base<br />
belongs_to :startups<br />
end</i></p>

<p><br />
<br />
</p>

<ul>
<li><i>Fundrr.com - API Integrations</i></li>
<ul>
<li><i>AngelList API Ruby Wrapper:</i></li>
<ul>
<li><i><a href="https://github.com/paulsingh/angellist-api">https://github.com/paulsingh/angellist-api</a></i></li>
<li><i>gem install angellist_api</i></li>
</ul>

<li><i>Crunchbase API Ruby Wrapper:</i></li>
<ul>
<li><i><a href="https://github.com/tylercunnion/crunchbase">https://github.com/tylercunnion/crunchbase</a></i></li>
<li></li>
</ul>

</ul>

</ul>

<p><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<ul>
<li><i><a href="https://www.facebook.com/houston.golden"><b>Houston Golden</b></a></i></li>
<li><i>Hey Elliot! My name is Houston Golden. I am a web developer and Founder of CloudMedia (<a href="http://www.cloud-media.com/">www.cloud-media.com</a>). I am accepting offers on my entire portfolio of websites and premium branded domain names. Let me know if you are interested in acquiring any!</i></li>
<li><i>Thank you!</i></li>
<li><i>1blog.com<br />
buzzagram.com<br />
buzzgov.com<br />
buzzartist.com<br />
buzzclouds.com<br />
charitytune.com<br />
cloud-media.com<br />
coportfolio.com<br />
dinify.com<br />
earss.com<br />
explr.com<br />
fundrr.com<br />
kwickpress.com<br />
oopage.com<br />
ootalk.com<br />
ootune.com<br />
pixrr.com<br />
producercloud.com<br />
songpoll.com<br />
surfverse.com<br />
texasvotes.com<br />
tictactoe.io<br />
tunetrest.com<br />
tuuny.com<br />
ubuzzme.com<br />
upvids.com<br />
ustart.co<br />
vidds.com<br />
allmusicblogs.com<br />
blogstereo.com<br />
buzzcollege.com<br />
buzzcure.com<br />
buzzdig.com<br />
buzzli.com<br />
buzzsocials.com<br />
buzzsolar.com<br />
buzzstores.com<br />
buzzvinyl.com<br />
charityjug.com<br />
cloudupon.com<br />
collegiategirl.com<br />
dallaso.com<br />
earotic.com<br />
facestr.com<br />
flocloud.com<br />
fundtune.com<br />
geekyfeed.com<br />
gifjug.com<br />
girlbug.com<br />
golfclouds.com<br />
hebuzz.com<br />
icloud360.com<br />
idropcloud.com<br />
ileadr.com<br />
indieradio.fm<br />
ishopcloud.com<br />
listclouds.com<br />
musicwillsavetheday.com<br />
mycloudradio.com<br />
mytaxguys.com<br />
nashlife.com<br />
nashv.com<br />
nextbigsong.com<br />
nookcloud.com<br />
omgfeed.com<br />
oobids.com<br />
oobuds.com<br />
oofinancial.com<br />
oofling.com<br />
ooforum.com<br />
oofunny.com<br />
oogossip.com<br />
ooport.com<br />
ootoob.com<br />
oovids.com<br />
ooxoxo.com<br />
pickr.co<br />
pinzey.com<br />
pinzr.com<br />
polysocials.com<br />
producerport.com<br />
promoplacement.com<br />
rafflebox.com<br />
rebootcloud.com<br />
recordzy.com<br />
sexyclouds.com<br />
sharedig.com<br />
shoelou.com<br />
shopaswap.com<br />
socialskim.com<br />
socialsober.com<br />
songsty.com<br />
soundgals.com<br />
soundir.com<br />
soundstr.com<br />
spacejug.com</i></li>
</ul>

<p><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<p>Instructors</p>

<p><br />
<br />
</p>

<p>Your instructors for this program are below. You will get the opportunity to ask them more questions about themselves at orientation. </p>

<p>1. <b>Tim Preston</b> - Tim is a full-stack developer from Australia who taught the previous cohort of WDI here in LA</p>

<p>2. <b>Lorin Thwaits</b> - Lorin is also an experienced full-stack developer originally from Arizona</p>

<p>3. <b>Jennifer Aprahamian</b> - Jen in a full-stack developer who has been working as a producer at GA for the past few months and is now transitioning into an instructional role, she knows a lot about how GA works so don't hesitate to ask her </p>

<p>4. <b>Theresa Luu</b> - Previously a teacher, Theresa was a student in the June WDI Cohort and has returned to be an instructor</p>

<p><br />
<br />
<br />
</p>

<p>Class Communication</p>

<p><br />
<br />
</p>

<p>You will be spending a lot of time with your instructors and fellow students over the next three months. Fill out the following forms to help both your instructional team and fellow students learn more about you: </p>

<p>1. <a href="https://generalassembly.wufoo.com/forms/z4p1w7/"><b>Immersive Student Profile</b></a>: Tell us about yourself by filling out your Student Profile (Some of these answers will go into a student roster for others to see. Also upload a picture of yourself)</p>

<p>2. <b>HipChat:</b> I will create a group and send out an invite to everyone, please do not create your own! (HipChat will serve as our chat room where we can all communicate)</p>

<p><br />
<br />
</p>

<p>To make communicating with your fellow students and instructors easier, we have created group email addresses for you to use. </p>

<p>1. To email your instructors use this email: wdi-la-instructors-september13@ga-groups.com</p>

<p><br />
<br />
</p>

<p>2. To email your class as a whole use this email: wdi-la-september13@ga-groups.com</p>

<p><br />
<br />
<br />
</p>

<p>Program Resources</p>

<p><br />
<br />
</p>

<p>We also use a number of different resources for classroom management. Please sign up and familiarize yourself with the following sites: </p>

<p>1. <b>Trello</b> (Please create an account if you do not have one already)<b>:</b> This is where we will house student questions and log events and administrative updates.</p>

<p>2. <b>Github:</b> Please create a github account, we will be using this for all of the assignments, projects and curriculum in class.</p>

<p>3. <b>Google Documents:</b> This is where we keep a number of shared resources that you can use. It also makes it easy for you to collaborate with other students.</p>

<p>4. </p>

<p><br />
<br />
</p>

<p>Orientation and Installfest - <b>Thursday, September 18th 2013 7:00 pm at GA LA (1520 2nd Street, Santa Monica CA 90401)</b></p>

<p><br />
<br />
</p>

<p>Attendance at Orientation is mandatory. This time will be used to familiarize you with the GA community. You will get to know the space, your classmates and your instructors. We will also help you install all of the necessary programs so that you are ready to hit the ground running on day one, so please bring your computers with you.</p>

<p><br />
<br />
</p>

<p>Before attending orientation please make sure to do the following: </p>

<p><br />
<br />
</p>

<p>1. <b>Pre-work Assignment:</b> It is mandatory that your pre-work is done by this date, it will provide you with a strong foundation. We will be checking that homework is done at orientation. </p>

<p>2. <b>Install the following before arriving at orientation:</b> Xcode (version 4.6.2), Sublime Text, Google Chrome, Terminal (This should already be on your computer if you have a Mac. The PC equivalent is Command Prompt. Do not try to install Ruby on Rails if you do not have this set up.)</p>

<p>· Once you have Xcode installed, please also download the Command line tools from within Xcode. (Xcode menu &gt; preferences &gt; downloads &gt; Command Line Tools)</p>

<p><br />
<br />
</p>

<p>Parking</p>

<p><br />
<br />
</p>

<p>Parking is not included in the price of this course. However, I will be researching what the monthly parking options are for everyone in the coming week and will update you all closer to the first day of the class. Stay tuned! </p>

<p><br />
<br />
</p>

<p>I know this was a lot of information so thank you for bearing with me! I am so excited to meet each and every one of you and help guide you through this course.</p>

<p><br />
<br />
</p>

<p>Welcome to the GA Family!</p>

<p><br />
<br />
<br />
</p>

<p><a href="http://tutorialzine.com/2013/08/learn-angularjs-5-examples/">http://tutorialzine.com/2013/08/learn-angularjs-5-examples/</a></p>

<p><br />
<br />
</p>

<p><a href="http://www.thinkster.io/pick/GUIDJbpIie/angularjs-tutorial-learn-to-build-modern-web-apps?utm_source=buffer&amp;utm_campaign=Buffer&amp;utm_content=buffer822c9&amp;utm_medium=twitter">http://www.thinkster.io/pick/GUIDJbpIie/angularjs-tutorial-learn-to-build-modern-web-apps?utm_source=buffer&amp;utm_campaign=Buffer&amp;utm_content=buffer822c9&amp;utm_medium=twitter</a></p>

<p><br />
<br />
<br />
</p>

<p>GA: </p>

<p><br />
<br />
</p>

<p><a href="https://dash.generalassemb.ly/?vip=wdi">https://dash.generalassemb.ly/?vip=wdi</a></p>

<p><br />
<br />
</p>

<p><a href="https://gist.github.com/peterylai/89cb6b56062a1fd1cd0c">https://gist.github.com/peterylai/89cb6b56062a1fd1cd0c</a></p>

<p><br />
<br />
</p>

<p><a href="http://www.codecademy.com/tracks/web">http://www.codecademy.com/tracks/web</a></p>

<p><br />
<br />
</p>

<p><a href="https://www.codeschool.com/account">https://www.codeschool.com/account</a></p>

<p>2</p>

<p><br />
<br />
</p>

<p>Schoology.com - Access Code?</p>

<p>CodeSchool.com - Invitation? </p>

<p><br />
<br />
</p>

<p><b>Part 1: <br />
<br />
</b></p>

<p><b>DONE! </b>The Command Line Crash Course: <a href="http://cli.learncodethehardway.org/book/">http://cli.learncodethehardway.org/book/</a></p>

<p><br />
<br />
</p>

<p><b>DONE! </b>Getting to Know the Command Line: <a href="http://www.davidbaumgold.com/tutorials/command-line/">http://www.davidbaumgold.com/tutorials/command-line/</a></p>

<p><br />
<br />
</p>

<p><b>Part 2: </b></p>

<p><br />
<br />
</p>

<p><b>DONE!</b> = Code Academy - Web Track: <a href="http://www.codecademy.com/tracks/web">http://www.codecademy.com/tracks/web</a></p>

<p><br />
<br />
</p>

<p>DONE! = Intro to HTML: <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction">https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction</a></p>

<p><br />
<br />
</p>

<p>START! Code School - CSS Cross Country: <a href="http://www.codeschool.com/courses/css-cross-country">http://www.codeschool.com/courses/css-cross-country</a></p>

<p><br />
<br />
<br />
</p>

<p><b>Part 3: </b></p>

<p><br />
<br />
</p>

<p><b>DONE!</b> Code School - Try Ruby: <a href="http://tryruby.org/levels/1/challenges/0">http://tryruby.org/levels/1/challenges/0</a></p>

<p><br />
<br />
</p>

<p><b>DONE!</b> Code School - JavaScript Road Trip Part 1</p>

<p><br />
<br />
</p>

<p><b>DONE! </b>Code Academy - Ruby Track: <a href="http://www.codecademy.com/tracks/ruby">http://www.codecademy.com/tracks/ruby</a></p>

<p><br />
<br />
</p>

<p>Chris Pine’s - Learn to Program: <a href="http://pine.fm/LearnToProgram/">http://pine.fm/LearnToProgram/</a></p>

<p><br />
<br />
</p>

<p>Learn Ruby the Hard Way: <a href="http://ruby.learncodethehardway.org/book/">http://ruby.learncodethehardway.org/book/</a></p>

<p><br />
<br />
</p>

<p>Ruby Style Guide: <a href="https://github.com/bbatsov/ruby-style-guide">https://github.com/bbatsov/ruby-style-guide</a></p>

<p><br />
<br />
<br />
</p>

<p><b>DONE!DONE!DONE!DONE!DONE!DONE!DONE!DONE!</b></p>

<p><br />
<br />
<br />
</p>

<p>more… </p>

<p><br />
<br />
</p>

<p><a href="http://getbootstrap.com">http://getbootstrap.com</a></p>

<p><br />
<br />
<br />
<br />
</p>

<p>START UP: </p>

<p><br />
<br />
</p>

<p><a href="http://ruby-doc.org/core-2.0.0/String.html">http://ruby-doc.org/core-2.0.0/String.html</a> (list of all strings)</p>

<p><br />
<br />
<br />
</p>

<p><a href="http://venturebeat.com/2013/08/24/7-steps-to-a-winning-startup-pitch/">http://venturebeat.com/2013/08/24/7-steps-to-a-winning-startup-pitch/</a></p>

<p><br />
<br />
</p>

<p><a href="https://www.startupdigest.com/">https://www.startupdigest.com/</a></p>

<p><br />
<br />
</p>

<p><a href="http://www.intel.com/content/www/us/en/intelligent-systems/tech-today/video-news-magazine.html">http://www.intel.com/content/www/us/en/intelligent-systems/tech-today/video-news-magazine.html</a></p>

<ul>
<li></li>
</ul>

<p>Dear WDI Students,</p>

<p>Congratulations on joining us at General Assembly for the Web Development Immersive program! We are so excited to have you and we're looking forward to working with you all soon!</p>

<p>Enclosed is your roadmap for preparing for the course. The document is on the longer side but don’t get discouraged. Programming can be frustrating at first but just take it one step at a time and it will pay off.</p>

<p>This pre-work is designed to get you up to speed with the basics of web development and programming so that when you arrive, we can hit the ground running. Please work through all of it even if you have seen some of these technologies before. Extra practice never hurts!</p>

<p>Each resource has the estimated amount of time we think that it will take you if you have no prior knowledge of the topic. In all, you should be able to complete the pre-work in about 50 hours.</p>

<p>Don’t feel like you have to become a master of everything before coming to class. We’ll be reviewing many of these topics the first week of class to make sure you have all the basics down before moving forward.</p>

<p>Please reach out if you have any questions about anything or need help! You'll be receiving an invitation in the next moment to begin your online prework. Happy coding and get ready to be immersed for 12 straight weeks!</p>

<p><b>Setup</b></p>

<p><b>Strongly Suggested Hardware/Software</b></p>

<p>Most web developers, including our instructional team, use Macs to do their development. We want you to get used to using these tools and will be able to provide the most support for you if you use them too.</p>

<ul>
<li>Computer: <b>Mac</b></li>
<li>Operating System: <b>OSX Mountain Lion (10.8)</b></li>
<li>Text Editor: <b>Sublime Text 2</b></li>
<li>Internet Browser: <b>Google Chrome</b></li>
</ul>

<p><b>Installfest</b></p>

<p>Installing software and setting up your development environment can be one of the most frustrating parts of starting out as a web developer.</p>

<p>If you have a Mac, we ask that you install Xcode before arriving since it is a large file. It would be really slow if all of you tried to download it at the same time while at GA. You can download it here:</p>

<ul>
<li><a href="https://developer.apple.com/xcode/">Xcode</a></li>
</ul>

<p>You don’t need to install anything else yet. Prior to class, we will have an event to help you install and configure the rest of your software in a stress-free environment and give you an opportunity to get to know your classmates.</p>

<p>These are some of the things we will be installing:</p>

<ul>
<li>Chrome</li>
<li>Sublime Text</li>
<li>Terminal</li>
<li>Ruby and various Gems</li>
<li>Ruby on Rails</li>
<li>Databases</li>
</ul>

<p>Don’t worry, we’ll work through all this stuff together once you get to GA. We designed the pre-work so that you can complete most of it in your browser without installing additional software. Do <b>not</b> try to install Ruby, Rails or PostgreSQL until the installfest, as bad installs can cause serious problems.</p>

<p><b>Schoology</b></p>

<p>We will be using Schoology as our class website. We’ll be sharing course updates, assignments and files on this website. You’ll also be able to connect with us as well as other students here.</p>

<p><b>Account Sign up</b></p>

<p>Sign up for the following accounts that you’ll be using for the pre-work and during class.</p>

<ul>
<li><a href="http://www.codeschool.com/">Code School</a> - Look out for invitation</li>
<li><a href="https://github.com/signup/free">Github</a></li>
<li><a href="https://api.heroku.com/signup">Heroku</a></li>
<li><a href="https://www.pivotaltracker.com/signup/new">Pivotal Tracker</a></li>
</ul>

<p>Make sure to keep your usernames and passwords somewhere where you can access them once the course begins</p>

<p><b>PART 1 - Computer &amp; Internet Basics</b></p>

<p>Before we dive into programming, make sure you know your way around your computer and know how to use it like a developer.</p>

<p><b>OSX Basics (1 hour)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://www.macforbeginners.com/page.php?id=155">Mac for Beginners</a> A quick look around the basic layout of OSX.</li>
<li><a href="http://www.youtube.com/watch?v=1Stw9jAIu2M">OSX Basics</a> A video guide to some basic things in OSX.</li>
<li><a href="http://support.apple.com/kb/HT2531">Using Spotlight</a> A quick overview of spotlight.</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Create new folders/directories</li>
<li>Keep and remove applications from your dock</li>
<li>Force quit an application (option+cmd+esc)</li>
<li>Get to spotlight using the keyboard shortcut (cmd+space), and find something using spotlight</li>
</ul>

<p><b>Typing (1 hour)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://play.typeracer.com/">Typeracer</a> A fun way to practice your typing and keep track of your speed.</li>
<li><a href="http://typing.io/lessons">Typing.io</a> Typing practice to help you get comfortable typing those awkward programming characters. Complete at least 4 - 5 exercises for each of the Javascript/jQuery and Ruby on Rails lessons.</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Make sure that you are touch typing and typing <b>at least</b> 40 wpm. You'll be pair programming and coding along quite a bit in class, so this is <b>essential</b>.</li>
<li>Try to minimize your unproductive keystrokes.</li>
</ul>

<p><b>Command Line Basics (5 hours)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://cli.learncodethehardway.org/book/">Learn Command Line the Hard Way</a> Knowing how to use the command line (Terminal) is a critical skill for a developer, and we’ll be spending a lot of time here. This tutorial is all about practice. Work through the entire thing.</li>
<li><a href="http://www.davidbaumgold.com/tutorials/command-line/">Command Line Tutorial</a> Another quick command line tutorial to solidify the basics and includes some good tips.</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Create a new directory</li>
<li>Remove/delete a file or directory</li>
<li>Easily navigate to your home directory</li>
<li>List all the contents of your home directory including hidden files</li>
<li>View/open files</li>
<li>Navigate using relative paths</li>
<li>List all the files or directories that begin with “G”</li>
<li>Use tab completion</li>
<li>View recently typed commands using the up arrow</li>
</ul>

<p><b>Internet Basics (1 hr)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://www.youtube.com/watch?v=7_LPdttKXPc">How the Internet Works in 5 minutes</a></li>
<li><a href="http://skillcrush.com/terms/">Tech Terms Glossary</a></li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Explain to a family member what happens when you type <a href="http://www.google.com/">www.google.com</a> into your browser and press go</li>
<li>Define the following terms</li>
<ul>
<li>Client</li>
<li>Server</li>
<li>Browser</li>
<li>IP Address</li>
<li>DNS</li>
<li>Front End</li>
<li>Back End</li>
<li>Database</li>
</ul>

</ul>

<p><b>PART 2 - Web Development Basics</b></p>

<p>We want you to know HTML and CSS before you start the course. It’s one of the biggest things that slows students down when we get into Ruby on Rails. You don’t have to learn how to make drop-dead gorgeous sites, but we don’t want you getting tripped up on projects without the basics.</p>

<p><b>HTML &amp; CSS (15 hrs)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://dash.generalassemb.ly/?vip=wdi">General Assembly - Dash (Beta)</a> Learn the basics of HTML and CSS by building a few web projects.</li>
<li><a href="http://www.codecademy.com/tracks/web">Codecademy Web Track</a> Walks you through the fundamentals of HTML and CSS by example.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction">Mozilla HTML Introduction</a> A quick introduction to HTML structure. Read through this to get a clearer idea of how HTML works.</li>
<li><a href="http://www.codeschool.com/courses/css-cross-country">Code School - CSS Cross Country</a> Dig in with some more advanced CSS concepts. (OPTIONAL)</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Create a basic HTML template structure and check what you have against this.</li>
<li>Add some content to your page using some basic tags (like div, h1, h2, p, ul, ol, etc).</li>
<li>Add a few hyperlinks to other pages.</li>
<li>Link a stylesheet (CSS) to your HTML page.</li>
<li>Add some basic styling to your page (like different fonts, different colored text, different types of borders around your text, different background images, etc)</li>
</ul>

<p><b>PART 3 - Programming Basics &amp; Version Control</b></p>

<p>As you know, Ruby is the programming language we’ll be focusing on. It also happens to be very beginner friendly. We want you to get used to the basic programming concepts that we’ll be using every day. We’ll also be using Git to make it easy for you to collaborate and share your code.</p>

<p><b>Ruby (20 hours)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://tryruby.org/">Code School - Try Ruby</a> A short, fun interactive tutorial online.</li>
<li><a href="http://pine.fm/LearnToProgram/">Chris Pine's Learn to Program</a> A really good tutorial for beginners to wrap your head around programming concepts.</li>
<li><a href="http://www.codecademy.com/tracks/ruby">Codecademy Ruby Track</a> This is the tutorial from your interview. Finish the rest of the sections.</li>
<li><a href="http://ruby.learncodethehardway.org/book/">Learn Ruby the Hard Way</a> Another great tutorial to get comfortable with the basics.</li>
<li><a href="https://github.com/bbatsov/ruby-style-guide">Ruby Style Guide</a> Make sure that you are following the proper syntax and conventions so other people will understand your code!</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Print out all the numbers from 1 to 100</li>
<li>Define a method that takes a person’s name as an argument and prints “Hello” plus that person’s name</li>
<li>Make sure you are using the proper syntax and naming conventions for variables and methods</li>
<li>Check out some of the elementary problems at Rubeque</li>
</ul>

<p><b>Git (7 hours)</b></p>

<p><b>Resources:</b></p>

<ul>
<li><a href="http://www.skillcrush.com/terms/version-control.html">What is Version Control?</a> Git is the system that we will be using to do version control. Learn what version control is.</li>
<li><a href="http://try.github.io/">Code School - Try Git</a> A great way to try working with git from your browser.</li>
<li><a href="https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf">Git Cheat Sheet</a> A great resource sheet for common commands.</li>
</ul>

<p><b>Assess yourself:</b></p>

<ul>
<li>Explain to a friend what Git and Github are, and why you would use version control in software development</li>
<li>Create a repository for a project on Github</li>
<li>Make edits to your code and commit the changes</li>
</ul>

<p><b>Getting Plugged In</b></p>

<p>Don’t wait until after program to get yourself out there. Start reading what programmers read, and start networking online.</p>

<p>Start reading <a href="https://news.ycombinator.com/">Hacker News</a> regularly and check out these articles on learning to program</p>

<ul>
<li><a href="http://mattdeboard.net/2011/11/23/how-i-became-a-programmer/">How I Became a Programmer</a></li>
<li><a href="http://hugomelo.com/becoming-an-apprentice/">Becoming an Apprentice</a></li>
<li><a href="http://mattsencenbaugh.com/on-being-a-junior-developer/">On Being a Junior Developer</a></li>
<li><a href="http://bjk5.com/post/38101106878/i-dont-understand">I Don't Understand</a></li>
<li><a href="http://mashable.com/2011/01/14/ruby-on-rails-for-beginners/">Expert Advice for Absolute Beginners</a></li>
<li><a href="http://nathan.ca/2012/12/why-im-a-programmer/">Why I am a programmer</a></li>
<li><a href="http://www.quora.com/Computer-Science/Should-I-major-in-computer-science-even-if-I-feel-Im-not-naturally-good-at-it?srid=h4yO&amp;st=ns">Should I major in computer science even if I feel I'm not naturally good at it?</a></li>
</ul>

<p>You should start building your online presence now:</p>

<ul>
<li>Create your LinkedIn</li>
<li>Create a Twitter account</li>
<li>Create a Quora account</li>
</ul>
